@charset "UTF-8";
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

a,
img,
button,
input,
textarea,
p,
div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a,
input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

.result {
  width: 100%;
  position: absolute;
  background-color: #fafafa;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0; }
  .result .filter {
    position: fixed;
    top: 0px;
    right: 0;
    color: #fff;
    font-size: 14px;
    z-index: 100001;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 70px; }
  .result .date-control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    font-size: 1.4rem;
    text-align: center;
    padding: 0 10px; }
    .result .date-control span {
      height: 30px;
      line-height: 30px;
      -ms-flex: 0.6;
          flex: 0.6;
      -ms-flex-pack: center;
          justify-content: center;
      color: #323232;
      font-size: 17px; }
    .result .date-control span:first-child,
    .result .date-control span:last-child {
      -ms-flex: 0.2;
          flex: 0.2;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      font-size: 14px;
      color: #323232; }
    .result .date-control > span.no {
      color: #c8c8c8; }
  .result .data-set {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    font-size: 1.4rem;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center; }
    .result .data-set > div {
      -ms-flex: 1;
          flex: 1;
      position: relative;
      text-align: center; }
    .result .data-set p {
      margin-top: 10px;
      font-size: 12px;
      text-align: center; }
    .result .data-set span.set.active {
      display: inline-block;
      height: 4px;
      width: 16px;
      background-color: #329be8; }
    .result .data-set span.active {
      color: #329be8; }
  .result .result-list {
    position: relative;
    margin: 14px 10px;
    margin-top: 7px;
    text-align: center; }
    .result .result-list .list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      position: relative;
      height: 120px;
      margin: 10px 0;
      border-radius: 6px;
      background-color: #fff;
      border: 0.5px solid #c8c8c8; }
      .result .result-list .list .bg-result {
        position: absolute;
        top: 0;
        left: 0;
        height: 120px;
        z-index: 0; }
      .result .result-list .list .left {
        z-index: 1;
        -ms-flex: 3;
            flex: 3;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        text-align: center; }
        .result .result-list .list .left > span {
          font-size: 12px;
          font-weight: 900;
          color: #323232;
          margin: 2px 0; }
          .result .result-list .list .left > span:first-child {
            font-size: 20px;
            color: #2196f3; }
          .result .result-list .list .left > span:last-child {
            color: #c8c8c8; }
      .result .result-list .list .center {
        z-index: 1;
        -ms-flex: 1;
            flex: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-align: left;
            align-items: left;
        height: 100%;
        padding: 13px 0;
        position: relative; }
        .result .result-list .list .center > span {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background-color: #fafafa;
          border: 0.5px solid #c8c8c8; }
        .result .result-list .list .center canvas.canvas-top {
          position: absolute;
          top: -2px;
          left: -5px;
          width: 18px;
          height: 9; }
        .result .result-list .list .center canvas.canvas-bottom {
          position: absolute;
          bottom: -2px;
          left: -5px;
          width: 18px;
          height: 9; }
      .result .result-list .list .right {
        z-index: 1;
        -ms-flex: 6;
            flex: 6;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        height: 120px; }
        .result .result-list .list .right .top {
          -ms-flex: 7;
              flex: 7;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center; }
          .result .result-list .list .right .top .name {
            -ms-flex: 6;
                flex: 6;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column;
            -ms-flex-align: start;
                align-items: flex-start;
            -ms-flex-pack: end;
                justify-content: flex-end; }
            .result .result-list .list .right .top .name p {
              font-weight: bold;
              font-size: 20px;
              position: relative;
              text-align: left;
              margin-left: 20px; }
              .result .result-list .list .right .top .name p:first-child::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #8cff3f;
                position: absolute;
                top: 9px;
                left: -17px; }
              .result .result-list .list .right .top .name p:last-child {
                line-height: 40px; }
              .result .result-list .list .right .top .name p:last-child::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #f35252;
                position: absolute;
                top: 15px;
                left: -17px; }
          .result .result-list .list .right .top .info {
            -ms-flex: 4;
                flex: 4;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column;
            text-align: right;
            -ms-flex-pack: center;
                justify-content: center; }
            .result .result-list .list .right .top .info p {
              height: 28px;
              line-height: 28px;
              margin-right: 25px; }
              .result .result-list .list .right .top .info p:first-child {
                font-weight: 900;
                font-size: 20px;
                color: #f35252; }
              .result .result-list .list .right .top .info p:last-child {
                font-size: 12px;
                color: #323232;
                padding-top: 8px; }
            @media (max-width: 320px) {
              .result .result-list .list .right .top .info p {
                margin-right: 15px; } }
        .result .result-list .list .right .bottom {
          -ms-flex: 3;
              flex: 3;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: start;
              justify-content: flex-start;
          position: relative;
          margin-top: 4px; }
          .result .result-list .list .right .bottom img:first-child {
            position: absolute;
            top: 2px;
            left: 4px;
            width: 10px;
            height: 12.5px; }
          .result .result-list .list .right .bottom img.right {
            position: absolute;
            top: 5px;
            right: 25px;
            width: 10px;
            height: 8px; }
          .result .result-list .list .right .bottom p {
            margin-left: 20px; }
    .result .result-list .router {
      height: 60px;
      margin: 0 -10px;
      background-color: #fff;
      overflow-x: scroll;
      white-space: nowrap; }
      .result .result-list .router > div {
        display: inline-block;
        position: relative;
        height: 50px;
        width: 44px; }
        .result .result-list .router > div:after {
          content: "";
          width: 25px;
          height: 1px;
          position: absolute;
          bottom: 8px;
          right: -14px;
          background-color: #329be8;
          z-index: 1; }
        .result .result-list .router > div:last-child::after {
          content: "";
          width: 25px;
          height: 0px;
          position: absolute;
          bottom: 8px;
          right: -14px;
          background-color: #329be8;
          z-index: 1; }
      .result .result-list .router > div.other:after {
        content: "";
        width: 25px;
        height: 1px;
        position: absolute;
        bottom: 9px;
        right: -14px;
        background-color: #d3eafd; }
      .result .result-list .router > div:last-child:after {
        content: "";
        width: 25px;
        height: 1px;
        position: absolute;
        bottom: 10px;
        right: -14px;
        background-color: #fff; }
      .result .result-list .router > div.last:after {
        content: "";
        width: 25px;
        height: 1px;
        position: absolute;
        bottom: 10px;
        right: -14px;
        background-color: #d3eafd; }
      .result .result-list .router span {
        font-size: 12px;
        width: 44px;
        display: inline-block;
        color: #323232;
        font-weight: 900;
        margin-top: 16px;
        position: absolute;
        top: 0;
        left: 0; }
        .result .result-list .router span::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: 19px;
          background-color: #329be8; }
      .result .result-list .router > div.active::before {
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: absolute;
        bottom: 2px;
        right: 15px;
        background-color: #d3eafd;
        z-index: 1; }
      .result .result-list .router span.gray {
        color: #c8c8c8; }
        .result .result-list .router span.gray::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: 19px;
          background-color: #d3eafd; }
      .result .result-list .router span.active {
        position: absolute;
        top: 0;
        left: 0;
        color: #329be8;
        height: 20px;
        margin-top: 10px;
        line-height: 20px;
        border: 0.5px solid #c8c8c8;
        border-radius: 10px; }
        .result .result-list .router span.active::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -15px;
          left: 19px;
          background-color: #329be8;
          z-index: 3; }
        .result .result-list .router span.active::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          bottom: -17px;
          left: 17px;
          background-color: #68b8f7;
          z-index: 2; }
    .result .result-list .change-set .btn {
      background-color: #0074D9;
      width: 90%;
      margin: 0 5%;
      padding: 10px 0;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
      margin-top: 10px; }
    .result .result-list .no-data {
      margin: 20px 5px;
      text-align: center; }
      .result .result-list .no-data p {
        color: #999;
        font-size: 1.8rem; }
    .result .result-list .popup-visible {
      width: 100%;
      height: 70%; }
      .result .result-list .popup-visible .popup-header {
        height: 50px;
        width: 100%;
        line-height: 50px;
        background-color: #329be8;
        color: #fff;
        text-align: center;
        position: relative; }
        .result .result-list .popup-visible .popup-header span {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          font-size: 15px;
          width: 60px;
          font-weight: 900; }
        .result .result-list .popup-visible .popup-header span:last-child {
          position: absolute;
          top: 0;
          right: 0; }
        .result .result-list .popup-visible .popup-header span:first-child {
          position: absolute;
          top: 0;
          left: 0; }

.zoomIn {
  animation-duration: 0.5s; }

.mint-cell-title {
  text-align: left; }

.mint-cell-wrapper {
  background-image: linear-gradient(180deg, #ffffff, #ffffff 50%, transparent 50%); }

.mint-cell:last-child {
  background-image: linear-gradient(180deg, #ffffff, #ffffff 50%, transparent 50%); }
