@charset "UTF-8";
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

a,
img,
button,
input,
textarea,
p,
div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

a,
img,
button,
p,
span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a,
input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: none; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeLeft-out {
  animation-name: fadeOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeLeft-in {
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeRight-in {
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOutRight {
  from {
    opacity: 0;
    transform: none; }
  to {
    opacity: 1;
    transform: translate3d(100%, 0, 0); } }

.fadeRight-out {
  animation-name: fadeOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

.result {
  width: 100%;
  position: absolute;
  background-color: #fafafa;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0; }
  .result .filter {
    position: absolute;
    top: -50px;
    right: 0;
    color: #fff;
    font-size: 14px;
    z-index: 100;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 50px; }
  .result .date-control {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    font-size: 1.4rem;
    text-align: center;
    padding: 0 10px; }
    .result .date-control span {
      height: 40px;
      line-height: 40px;
      -ms-flex: 0.6;
          flex: 0.6;
      -ms-flex-pack: center;
          justify-content: center;
      color: #323232;
      font-size: 17px;
      font-weight: 900; }
    .result .date-control span:first-child,
    .result .date-control span:last-child {
      -ms-flex: 0.2;
          flex: 0.2;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      font-size: 14px;
      color: #323232; }
    .result .date-control > span.no {
      color: #c8c8c8; }
  .result .data-set {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    font-size: 1.4rem;
    box-shadow: 0 3px 5px 0px #ececec; }
    .result .data-set span {
      height: 40px;
      line-height: 40px;
      -ms-flex: 0.5;
          flex: 0.5;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      color: #5e5e5e; }
      .result .data-set span i {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        margin-right: 5px; }
    .result .data-set span:first-child {
      -ms-flex: 0.25;
          flex: 0.25; }
    .result .data-set span:last-child {
      -ms-flex: 0.25;
          flex: 0.25;
      -ms-flex-align: end;
          align-items: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
      margin-right: 10px; }
    .result .data-set span.active {
      color: #0074D9; }
  .result .result-list {
    position: relative;
    margin: 14px 10px; }
    .result .result-list .list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      border-bottom: 1px solid #dddddd; }
      .result .result-list .list > .data {
        color: #0074D9;
        font-size: 1.5rem;
        width: 30%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        font-weight: 900;
        max-height: 105px; }
      .result .result-list .list > .car-position {
        width: 40%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        margin: 5px 0;
        margin-left: 25px; }
        .result .result-list .list > .car-position p {
          height: 25px;
          line-height: 25px;
          font-size: 1.3rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #111111; }
          .result .result-list .list > .car-position p span.brand {
            border: 1px solid #FF851B;
            background-color: #FF851B;
            padding: 0 2px;
            color: #fff;
            font-size: 1.1rem;
            margin-right: 5px;
            border-radius: 10px; }
        .result .result-list .list > .car-position p.type {
          color: #919191; }
          .result .result-list .list > .car-position p.type > i.fa-location-arrow {
            color: #AAAAAA;
            padding: 0 2px;
            margin-right: 8px;
            height: 25px;
            line-height: 25px; }
          .result .result-list .list > .car-position p.type > i.fa-caret-down {
            height: 30px;
            line-height: 30px;
            margin-left: 5px;
            height: 25px;
            line-height: 25px; }
        .result .result-list .list > .car-position p.router-type {
          color: #919191;
          margin-left: 25px;
          font-size: 12px;
          height: 20px;
          line-height: 20px; }
        .result .result-list .list > .car-position > .show-router ul {
          list-style: none;
          position: relative; }
          .result .result-list .list > .car-position > .show-router ul li {
            margin-left: 20px;
            position: relative;
            font-size: 1rem;
            line-height: 24px;
            height: 24px; }
            .result .result-list .list > .car-position > .show-router ul li::after {
              content: "";
              height: 8px;
              width: 8px;
              position: absolute;
              border-radius: 4px;
              border: 1px solid #AAAAAA;
              top: 7px;
              left: -15px; }
            .result .result-list .list > .car-position > .show-router ul li::before {
              content: "";
              height: 7px;
              width: 1px;
              position: absolute;
              border: 1px solid #AAAAAA;
              top: -5px;
              left: -12px; }
          .result .result-list .list > .car-position > .show-router ul li:first-child::before {
            border: 1px solid #fff; }
          .result .result-list .list > .car-position > .show-router ul li.active::after {
            content: "";
            height: 8px;
            width: 8px;
            position: absolute;
            border-radius: 4px;
            border: 1px solid #FF851B;
            background-color: #FF851B;
            top: 7px;
            left: -15px; }
        .result .result-list .list > .car-position > .show-router .bracket {
          /*height: 100px;*/
          display: block;
          padding-left: 5px;
          margin-left: 5px;
          border-radius: 10px;
          border: 1px solid #2ecc71;
          border-color: transparent transparent transparent #2ecc71;
          position: relative; }
        .result .result-list .list > .car-position > .show-router .bracket::before {
          content: "";
          position: absolute;
          top: 45%;
          left: -12px;
          border: 6px solid #2ecc71;
          border-color: transparent #2ecc71 transparent transparent;
          height: 0;
          width: 0; }
        .result .result-list .list > .car-position > .show-router .cityname {
          position: absolute;
          top: 45%;
          left: -30px;
          /*border: 6px solid #2ecc71;*/
          /*border-color: transparent #2ecc71 transparent transparent;*/
          height: 12px;
          width: 30px;
          font-size: 12px; }
        .result .result-list .list > .car-position > .show-router .bracket-small {
          /*height: 100px;*/
          display: block;
          padding-left: 5px;
          margin-left: 5px;
          border-radius: 10px;
          border: 1px solid #2ecc71;
          border-color: transparent transparent transparent #2ecc71;
          position: relative; }
        .result .result-list .list > .car-position > .show-router .bracket-small::before {
          content: "";
          position: absolute;
          top: 30%;
          left: -12px;
          border: 6px solid #2ecc71;
          border-color: transparent #2ecc71 transparent transparent;
          height: 0;
          width: 0; }
        .result .result-list .list > .car-position > .show-router .cityname-small {
          position: absolute;
          top: 30%;
          left: -30px;
          /*border: 6px solid #2ecc71;*/
          /*border-color: transparent #2ecc71 transparent transparent;*/
          height: 12px;
          width: 30px;
          font-size: 12px; }
      .result .result-list .list > .ticket-type {
        margin: 5px 0;
        width: 30%;
        text-align: right;
        margin-right: 10px;
        font-size: 1.3rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column; }
        .result .result-list .list > .ticket-type > p {
          heihgt: 30px;
          line-height: 30px; }
        .result .result-list .list > .ticket-type .money {
          color: #FF851B; }
        .result .result-list .list > .ticket-type .number,
        .result .result-list .list > .ticket-type .type {
          font-size: 1.1rem;
          color: #AAAAAA; }
    .result .result-list .change-set .btn {
      background-color: #0074D9;
      width: 90%;
      margin: 0 5%;
      padding: 10px 0;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
      margin-top: 10px; }
    .result .result-list .no-data {
      margin: 20px 5px;
      text-align: center; }
      .result .result-list .no-data p {
        color: #999;
        font-size: 1.8rem; }
    .result .result-list .popup-visible {
      width: 60%;
      height: 40%;
      border-radius: 10px; }
      .result .result-list .popup-visible .popup-header {
        height: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        line-height: 40px;
        background-color: #009688;
        color: #fff; }
