@charset "UTF-8";
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

a,
img,
button,
input,
textarea,
p,
div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a,
input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

#pay input {
  border: 0;
  outline: none; }

#pay {
  padding: 0;
  background-color: #fafafa;
  padding-bottom: 50px; }

.header {
  width: 100%;
  height: 125px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #41a1e7;
  z-index: 100; }
  .header > img {
    width: 100%;
    height: 125px;
    position: absolute;
    top: 0;
    left: 0; }
  .header .header-title {
    height: 50px;
    position: relative; }
    .header .header-title > div {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0; }
    .header .header-title img {
      width: 19px;
      height: 19px;
      line-height: 50px;
      position: absolute;
      left: 25px;
      top: 15.5px; }
    .header .header-title > span {
      font-size: 18px;
      color: #fff;
      font-weight: 900;
      height: 50px;
      line-height: 50px;
      float: right;
      margin-right: 25px; }
  .header .header-router {
    width: 96%;
    padding: 0 2%;
    text-align: center; }
    .header .header-router .router {
      height: 60px;
      margin: 0 -10px;
      overflow-x: scroll;
      white-space: nowrap; }
      .header .header-router .router > div {
        display: inline-block;
        position: relative;
        height: 50px;
        width: 44px; }
        .header .header-router .router > div:after {
          content: "";
          width: 25px;
          height: 1px;
          position: absolute;
          bottom: 8px;
          right: -14px;
          background-color: #fff;
          z-index: 1; }
        .header .header-router .router > div:last-child::after {
          content: "";
          width: 25px;
          height: 0px;
          position: absolute;
          bottom: 8px;
          right: -14px;
          background-color: #fff;
          z-index: 1; }
      .header .header-router .router > div.other:after {
        content: "";
        width: 25px;
        height: 1px;
        position: absolute;
        bottom: 9px;
        right: -14px;
        background-color: #c8c8c8; }
      .header .header-router .router > div:last-child:after {
        content: "";
        width: 0;
        height: 0; }
      .header .header-router .router > div.last:after {
        content: "";
        width: 25px;
        height: 1px;
        position: absolute;
        bottom: 10px;
        right: -14px;
        background-color: #c8c8c8; }
      .header .header-router .router span {
        font-size: 12px;
        width: 44px;
        display: inline-block;
        color: #fff;
        font-weight: 900;
        margin-top: 16px;
        position: absolute;
        top: 0;
        left: 0; }
        .header .header-router .router span::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: 19px;
          background-color: #fff; }
      .header .header-router .router > div.active::before {
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: absolute;
        bottom: 2px;
        right: 15px;
        background-color: #6cb9f1;
        z-index: 1; }
      .header .header-router .router span.gray {
        color: #c8c8c8; }
        .header .header-router .router span.gray::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: 19px;
          background-color: #c8c8c8; }
      .header .header-router .router span.active {
        position: absolute;
        top: 0;
        left: 0;
        color: #329be8;
        height: 20px;
        margin-top: 10px;
        line-height: 20px;
        border: 0.5px solid #fff;
        border-radius: 10px;
        background-color: #fff; }
        .header .header-router .router span.active::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -15px;
          left: 19px;
          background-color: #fff;
          z-index: 3; }
        .header .header-router .router span.active::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          bottom: -17px;
          left: 17px;
          background-color: #b1d5f0;
          z-index: 2; }

.mint-toast {
  z-index: 10000; }

.ticket-info {
  width: 96%;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  height: 120px;
  margin: 5px 2%;
  border-radius: 6px;
  background-color: #fff;
  border: 0.5px solid #c8c8c8; }
  .ticket-info > div {
    float: left; }
  .ticket-info .left {
    z-index: 1;
    -ms-flex: 3;
        flex: 3;
    width: 30%;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 100%;
    text-align: center; }
    .ticket-info .left > span {
      font-size: 12px;
      font-weight: 900;
      color: #323232;
      margin: 2px 0;
      display: block; }
      .ticket-info .left > span:first-child {
        font-size: 20px;
        color: #2196f3;
        margin-top: 25px; }
      .ticket-info .left > span:last-child {
        color: #c8c8c8; }
  .ticket-info .center {
    z-index: 1;
    -ms-flex: 1;
        flex: 1;
    width: 10%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: left;
        align-items: left;
    height: 100%;
    padding: 13px 0;
    position: relative; }
    .ticket-info .center > span {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #fafafa;
      border: 0.5px solid #c8c8c8;
      display: block;
      margin: 6px 0; }
    .ticket-info .center canvas.canvas-top {
      position: absolute;
      top: -2px;
      left: -5px;
      width: 18px;
      height: 9; }
    .ticket-info .center canvas.canvas-bottom {
      position: absolute;
      bottom: -2px;
      left: -5px;
      width: 18px;
      height: 9; }
  .ticket-info .right {
    z-index: 1;
    -ms-flex: 6;
        flex: 6;
    width: 60%;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 120px; }
    .ticket-info .right .top {
      -ms-flex: 6.5;
          flex: 6.5;
      height: 90px;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center; }
      .ticket-info .right .top > div {
        float: left;
        height: 90px; }
      .ticket-info .right .top .name {
        -ms-flex: 6.5;
            flex: 6.5;
        width: 65%;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: start;
            align-items: flex-start;
        -ms-flex-pack: end;
            justify-content: flex-end; }
        .ticket-info .right .top .name p {
          font-weight: bold;
          font-size: 18px;
          position: relative;
          text-align: left;
          height: 45px;
          line-height: 45px;
          margin-left: 20px; }
          @media (max-width: 320px) {
            .ticket-info .right .top .name p {
              font-size: 16px;
              margin-left: 10px; } }
          .ticket-info .right .top .name p:first-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #60e7bf;
            position: absolute;
            top: 18px;
            left: -17px; }
          .ticket-info .right .top .name p:last-child {
            line-height: 40px; }
          .ticket-info .right .top .name p:last-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #f98080;
            position: absolute;
            top: 15px;
            left: -17px; }
      .ticket-info .right .top .info {
        -ms-flex: 3.5;
            flex: 3.5;
        width: 35%;
        -ms-flex-direction: column;
            flex-direction: column;
        text-align: right;
        -ms-flex-pack: center;
            justify-content: center; }
        .ticket-info .right .top .info p {
          height: 35px;
          line-height: 35px;
          margin-right: 10px; }
          .ticket-info .right .top .info p:first-child {
            font-weight: 900;
            font-size: 20px;
            color: #f35252;
            line-height: 45px; }
          .ticket-info .right .top .info p:last-child {
            font-size: 12px;
            color: #323232;
            padding-top: 8px;
            line-height: 45px; }
          @media (max-width: 320px) {
            .ticket-info .right .top .info p {
              margin-right: 10px; }
              .ticket-info .right .top .info p:first-child {
                font-size: 16px; }
              .ticket-info .right .top .info p:last-child {
                padding-top: 6px; } }
        @media (max-width: 320px) {
          .ticket-info .right .top .info p {
            margin-right: 10px; } }
    .ticket-info .right .bottom {
      -ms-flex: 3;
          flex: 3;
      height: 30px;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: start;
          justify-content: flex-start;
      position: relative;
      margin-top: 4px; }
      .ticket-info .right .bottom img:first-child {
        position: absolute;
        top: 2px;
        left: 4px;
        width: 10px;
        height: 10px; }
      .ticket-info .right .bottom img.right {
        position: absolute;
        top: 5px;
        right: 25px;
        width: 10px;
        height: 8px; }
      .ticket-info .right .bottom p {
        margin-left: 20px;
        text-align: left; }

.passenger-info {
  width: 100%;
  margin-bottom: 10px; }
  .passenger-info .passenger-selected {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 10px; }
    .passenger-info .passenger-selected > .line {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      margin: 0 10px;
      width: 100%;
      height: 50px; }
      .passenger-info .passenger-selected > .line > div {
        width: 60px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-align: center;
            align-items: center;
        float: left; }
        .passenger-info .passenger-selected > .line > div img {
          width: 20px;
          height: 20px;
          margin-left: 10px;
          margin-top: 15px; }
      .passenger-info .passenger-selected > .line > span {
        float: left; }
      .passenger-info .passenger-selected > .line .center {
        -ms-flex: 8;
            flex: 8;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        width: 40%;
        display: inline-block; }
      .passenger-info .passenger-selected > .line .right {
        -ms-flex: 2;
            flex: 2;
        width: 40%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        display: inline-block;
        text-align: right;
        padding-right: 10px; }

.write-info {
  width: 100%;
  margin-bottom: 10px; }
  .write-info > .line {
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    position: relative; }
    .write-info > .line > span {
      height: 50px;
      line-height: 50px;
      display: block;
      margin-right: 130px;
      padding-left: 20px;
      color: #c8c8c8;
      font-size: 16px;
      width: 75%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .write-info > .line > span.info {
      display: inline-block;
      margin-right: 0;
      padding-left: 0;
      width: 60px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      bottom: 0;
      right: 50px; }
    .write-info > .line > input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%; }
    .write-info > .line div.img {
      height: 50px;
      line-height: 50px;
      width: 70px;
      position: absolute;
      bottom: 0;
      right: 0;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      text-align: center; }
      .write-info > .line div.img img {
        width: 20px;
        height: 20px;
        margin-top: 15px; }

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  width: 100%;
  text-align: center;
  background-color: #2196F3;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .page-header > div {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 0;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
  .page-header img {
    width: 19px;
    height: 19px;
    line-height: 50px;
    margin-top: 15px; }
  .page-header > span.right {
    font-size: 14px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 25px;
    width: 50px;
    font-weight: 900; }
  .page-header > span.center {
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    height: 50px;
    line-height: 50px; }
  .page-header > .popup-header {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #fff;
    color: #c8c8c8;
    text-align: center;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    position: fixed;
    top: 50px;
    left: 0; }
    .page-header > .popup-header span {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      -ms-flex: 1;
          flex: 1;
      font-weight: 900;
      float: left;
      width: 50%; }
    .page-header > .popup-header span.active {
      color: #329be8;
      position: relative; }
      .page-header > .popup-header span.active::after {
        position: absolute;
        bottom: 0px;
        left: 45%;
        width: 20px;
        height: 4px;
        background-color: #329be8;
        content: ""; }

.action-select-car {
  width: 100%;
  margin-top: 60px;
  padding: 0 10px; }
  .action-select-car .line-car {
    float: left;
    height: 60px;
    width: 49%;
    line-height: 60px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 2px;
    margin-bottom: 5px; }
    .action-select-car .line-car .left {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: start;
          justify-content: flex-start;
      -ms-flex-align: center;
          align-items: center;
      position: relative; }
      .action-select-car .line-car .left > img {
        width: 25px;
        height: 25px;
        z-index: 1;
        position: absolute;
        top: 18px;
        left: 5px; }
      .action-select-car .line-car .left::after {
        content: "";
        position: absolute;
        top: 18px;
        left: 5px;
        width: 25px;
        height: 25px;
        background-color: #fafafa;
        border-radius: 50%;
        z-index: 0; }
    .action-select-car .line-car .center {
      margin-left: 30px;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: start;
          align-items: flex-start;
      height: 60px; }
      .action-select-car .line-car .center p {
        line-height: 25px;
        color: #323232;
        font-size: 15px;
        margin-left: 10px;
        margin-top: 18px; }
    .action-select-car .line-car:nth-child(2n) {
      margin-left: 2%; }

.action-page {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll; }
  .action-page .action {
    padding-bottom: 50px; }
    .action-page .action .action-body {
      margin-top: 60px; }
      .action-page .action .action-body .add-action {
        width: 100%; }
        .action-page .action .action-body .add-action .line {
          margin: 0 10px;
          background-color: #fff;
          border-radius: 10px;
          height: 50px;
          position: relative; }
          .action-page .action .action-body .add-action .line input {
            height: 50px;
            display: block;
            margin-right: 70px;
            padding-left: 20px;
            font-size: 16px;
            width: 70%; }
          .action-page .action .action-body .add-action .line button {
            position: absolute;
            top: 0;
            right: 20px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #329be8;
            outline: none;
            border: none;
            background-color: #fff; }
            .action-page .action .action-body .add-action .line button i {
              font-size: 16px;
              color: #329be8; }
      .action-page .action .action-body .pay-ticket-info {
        margin: 0 10px;
        background-color: #fff;
        border-radius: 10px;
        position: relative; }
        .action-page .action .action-body .pay-ticket-info p {
          font-size: 16px;
          color: #c8c8c8;
          height: 40px;
          line-height: 40px;
          margin-left: 20px; }
        .action-page .action .action-body .pay-ticket-info p:nth-child(1) {
          color: #000; }
    .action-page .action p.refresh {
      clear: both;
      height: 20px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      color: #c8c8c8; }
      .action-page .action p.refresh i {
        color: #c8c8c8; }
    .action-page .action .action-select {
      width: 100%;
      -ms-flex-direction: column;
          flex-direction: column;
      margin-top: 60px; }
      .action-page .action .action-select .line {
        margin: 0 10px;
        margin-bottom: 10px;
        -ms-flex-direction: row;
            flex-direction: row;
        height: 60px;
        line-height: 60px;
        border-radius: 10px;
        background-color: #fff; }
        .action-page .action .action-select .line > div {
          display: inline-block;
          float: left;
          height: 60px;
          line-height: 60px; }
        .action-page .action .action-select .line .left {
          -ms-flex: 2;
              flex: 2;
          width: 20%;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: start;
              justify-content: flex-start;
          -ms-flex-align: center;
              align-items: center;
          position: relative; }
          .action-page .action .action-select .line .left > img {
            width: 25px;
            height: 25px;
            margin-left: 20px;
            z-index: 10;
            margin-top: 20px; }
          .action-page .action .action-select .line .left::after {
            content: "";
            position: absolute;
            top: 20px;
            left: 20px;
            width: 25px;
            height: 25px;
            background-color: #fafafa;
            border-radius: 50%;
            z-index: -1; }
        .action-page .action .action-select .line .center {
          -ms-flex: 6;
              flex: 6;
          width: 60%;
          -ms-flex-direction: column;
              flex-direction: column;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: start;
              align-items: flex-start; }
          .action-page .action .action-select .line .center p {
            line-height: 30px;
            height: 50%;
            color: #323232;
            font-size: 15px;
            margin-left: 10px; }
        .action-page .action .action-select .line .right {
          -ms-flex: 2;
              flex: 2;
          width: 20%;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; }
          .action-page .action .action-select .line .right > img {
            width: 20px;
            height: 20px; }
    .action-page .action .action-use {
      margin-top: 50px; }
      .action-page .action .action-use .popup-header {
        height: 50px;
        width: 100%;
        line-height: 50px;
        background-color: #fff;
        color: #c8c8c8;
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: center;
            justify-content: center; }
        .action-page .action .action-use .popup-header span {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          -ms-flex: 1;
              flex: 1;
          font-weight: 900;
          float: left;
          width: 50%; }
        .action-page .action .action-use .popup-header span.active {
          color: #329be8;
          position: relative; }
          .action-page .action .action-use .popup-header span.active::after {
            position: absolute;
            bottom: 0px;
            left: 45%;
            width: 20px;
            height: 4px;
            background-color: #329be8;
            content: ""; }
      .action-page .action .action-use > .page {
        padding: 0 10px; }
      .action-page .action .action-use .rebate {
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        background-color: #fff;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        width: 50%;
        float: left; }
        .action-page .action .action-use .rebate .top {
          width: 100%;
          height: 100px;
          position: relative; }
          .action-page .action .action-use .rebate .top img {
            width: 100%;
            height: 100px; }
          .action-page .action .action-use .rebate .top p {
            bottom: 5px;
            right: 5px;
            left: 5px;
            text-align: right;
            color: #fff;
            position: absolute;
            font-weight: 900; }
        .action-page .action .action-use .rebate .bottom {
          border: 0.5px solid #c8c8c8;
          border-top: none;
          width: 100%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; }
          .action-page .action .action-use .rebate .bottom .left {
            -ms-flex: 7;
                flex: 7;
            padding-left: 10px; }
            .action-page .action .action-use .rebate .bottom .left p {
              font-size: 23px;
              color: #323232;
              font-weight: 900; }
              .action-page .action .action-use .rebate .bottom .left p > span {
                font-size: 12px;
                margin-right: 5px; }
            .action-page .action .action-use .rebate .bottom .left .limit,
            .action-page .action .action-use .rebate .bottom .left .name {
              font-size: 12px;
              font-weight: 900;
              color: #323232; }
            .action-page .action .action-use .rebate .bottom .left .time {
              font-size: 12px;
              font-weight: 400;
              line-height: 12px;
              color: #c8c8c8;
              margin-bottom: 8px; }
          .action-page .action .action-use .rebate .bottom .right {
            -ms-flex: 3;
                flex: 3;
            text-align: center;
            position: relative; }
            .action-page .action .action-use .rebate .bottom .right img {
              width: 28px;
              height: 28px;
              z-index: -1; }
            .action-page .action .action-use .rebate .bottom .right span {
              width: 30px;
              height: 30px;
              background-color: #fafafa;
              border-radius: 50%;
              z-index: 1;
              position: absolute;
              top: -1px;
              right: 20%; }
            @media (max-width: 320px) {
              .action-page .action .action-use .rebate .bottom .right span {
                right: 6px; } }
        .action-page .action .action-use .rebate:nth-child(1+2n) {
          padding-right: 5px; }
        .action-page .action .action-use .rebate:nth-child(2n) {
          padding-left: 5px; }
        .action-page .action .action-use .rebate.active .check img {
          z-index: 2; }
        .action-page .action .action-use .rebate.active span {
          background-color: #fafafa;
          z-index: -1 !important; }
        .action-page .action .action-use .rebate.disabled .bottom p {
          color: #c8c8c8 !important; }
      @media (max-width: 320px) {
        .action-page .action .action-use .rebate {
          height: 220px; }
        .action-page .action .action-use .bottom {
          height: 120px; } }

.add-action {
  width: 100%; }
  .add-action .line.change {
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    position: relative; }
    .add-action .line.change input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%; }
    .add-action .line.change button {
      position: absolute;
      top: 0;
      right: 20px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #329be8;
      outline: none;
      border: none;
      background-color: #fff; }
      .add-action .line.change button i {
        font-size: 16px;
        color: #329be8; }

/** 修改修改乘客弹窗 */
.change-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center; }
  .change-page .change-page-body {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    margin-top: 100px; }
    .change-page .change-page-body .line-header {
      height: 40px;
      font-size: 20px;
      text-align: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
    .change-page .change-page-body .line-btn {
      width: 100%; }
      .change-page .change-page-body .line-btn > button {
        -ms-flex: 1;
            flex: 1;
        background-color: #fff;
        border: none;
        outline: none;
        height: 40px;
        font-size: 16px;
        width: 50%;
        text-align: center;
        float: left; }
        .change-page .change-page-body .line-btn > button.left-btn {
          color: #999; }
        .change-page .change-page-body .line-btn > button.right-btn {
          color: #0074D9; }

/** 支付footer */
.pay {
  height: 50px;
  line-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 3px 0 3px 3px #efeeee;
  z-index: 4000; }
  .pay .left {
    -ms-flex: 5;
        flex: 5; }
    .pay .left p {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #c8c8c8; }
      .pay .left p span {
        font-size: 18px;
        color: #f98080;
        font-weight: 900; }
  .pay .right {
    -ms-flex: 5;
        flex: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .pay .right span {
      color: #c8c8c8;
      font-size: 12px;
      -ms-flex: 5;
          flex: 5; }
    .pay .right button {
      background-color: #329be8;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      outline: none;
      border: none;
      color: #fff;
      -ms-flex: 5;
          flex: 5;
      border-radius: 5px; }

#pay .v-modal {
  display: none; }

.set-position {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 100px; }

.root-tip-info {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  padding-bottom: 60px; }
  .root-tip-info .text {
    width: 92%;
    margin: 0 4%;
    border: 1px solid #FF851B;
    border-radius: 5px;
    padding: 5px 10px; }
    .root-tip-info .text > p {
      color: #FF851B;
      line-height: 20px; }

.submit-box {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  box-shadow: 3px 0 3px 3px #efeeee; }
  .submit-box .order-info {
    -ms-flex: 0.6;
        flex: 0.6;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0 10px;
    margin: 5px 0; }
    .submit-box .order-info p {
      color: #c8c8c8;
      height: 20px;
      line-height: 20px;
      font-size: 1.1rem; }
      .submit-box .order-info p > span > span {
        margin-left: 5px; }
    .submit-box .order-info p:first-child {
      font-size: 1.3rem;
      color: #5e5e5e; }
      .submit-box .order-info p:first-child > span {
        margin: 10px;
        color: #f98080;
        font-size: 18px;
        font-weight: 900; }
  .submit-box .submit-order {
    -ms-flex: 0.4;
        flex: 0.4; }
    .submit-box .submit-order > button {
      background-color: #329be8;
      color: #fff;
      font-size: 1.3rem;
      outline: none;
      border: 0;
      height: 40px;
      margin-top: 5px;
      border-radius: 5px;
      width: 90%; }

.tip-popup-visible {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.8); }
  .tip-popup-visible > .body {
    text-align: center;
    width: 96%;
    margin: 10px 2%;
    overflow-y: auto;
    height: 100%;
    padding-top: 0; }
    @media (max-width: 320px) {
      .tip-popup-visible > .body {
        margin: 0px 2%; } }
    .tip-popup-visible > .body h3 {
      color: #fff;
      font-size: 1.5rem;
      margin-top: 10px; }
      @media (max-width: 320px) {
        .tip-popup-visible > .body h3 {
          margin-top: 5px;
          font-size: 1.3rem; } }
    .tip-popup-visible > .body p {
      color: #fff;
      font-size: 1.3rem;
      text-align: left; }
      @media (max-width: 320px) {
        .tip-popup-visible > .body p {
          font-size: 1.1rem; } }
    .tip-popup-visible > .body button {
      background-color: #0074D9;
      color: #fff;
      font-size: 1.3rem;
      outline: none;
      border: 0;
      height: 40px;
      margin-top: 10px;
      border-radius: 5px;
      width: 40%; }

.mint-msgbox-input input {
  height: 40px;
  line-height: 40px;
  font-size: 18px; }

/** 弹出框 */
.mint-msgbox-wrapper {
  z-index: 5001 !important; }
  .mint-msgbox-wrapper .mint-msgbox {
    border-radius: 10px; }
  .mint-msgbox-wrapper .mint-msgbox-btn {
    font-size: 18px; }
  .mint-msgbox-wrapper .mint-msgbox-content {
    border: none; }
  .mint-msgbox-wrapper .mint-msgbox-cancel {
    color: #c8c8c8;
    border: none; }
  .mint-msgbox-wrapper .mint-msgbox-confirm {
    color: #0074D9;
    border: none; }

.success {
  color: #2ecc71; }
