@charset "UTF-8";
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

a,
img,
button,
input,
textarea,
p,
div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a,
input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

body {
  background-color: #f7f7f7; }

#app {
  width: 100%;
  height: 100%;
  position: absolute; }

header {
  height: 50px;
  background-color: #fff;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0; }
  header span {
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #c8c8c8;
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    text-align: center; }
  header span.active {
    color: #329be8;
    position: relative; }
    header span.active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 40px;
      height: 4px;
      width: 20px;
      background-color: #329be8; }

.ticket-info {
  margin: 10px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  height: 120px;
  border-radius: 6px;
  background-color: #fff;
  border: 0.5px solid #c8c8c8; }
  .ticket-info .left {
    z-index: 1;
    -ms-flex: 3;
        flex: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center; }
    .ticket-info .left > span {
      font-size: 12px;
      font-weight: 900;
      color: #323232;
      margin: 2px 0; }
      .ticket-info .left > span:first-child {
        font-size: 20px;
        color: #2196f3; }
      .ticket-info .left > span:last-child {
        color: #c8c8c8; }
  .ticket-info .center {
    z-index: 1;
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: left;
        align-items: left;
    height: 100%;
    padding: 13px 0;
    position: relative; }
    .ticket-info .center > span {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #fafafa;
      border: 0.5px solid #c8c8c8; }
      .ticket-info .center > span:first-child::after {
        width: 18px;
        height: 9px;
        background-color: #fafafa;
        border: 0.5px solid #c8c8c8;
        content: "";
        border-radius: 0 0 10px 10px;
        border-top-color: #fafafa;
        position: absolute;
        top: -0.7px;
        left: -4.5px;
        z-index: 10;
        transform: rotate(0deg); }
      .ticket-info .center > span:last-child::after {
        width: 18px;
        height: 9px;
        background-color: #fafafa;
        border: 0.5px solid #c8c8c8;
        border-bottom-color: #fafafa;
        content: "";
        border-radius: 10px 10px 0 0;
        position: absolute;
        bottom: -0.7px;
        left: -4.5px;
        z-index: 10;
        transform: rotate(0deg); }
  .ticket-info .right {
    z-index: 1;
    -ms-flex: 6;
        flex: 6;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 120px; }
    .ticket-info .right .top {
      -ms-flex: 7;
          flex: 7;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center; }
      .ticket-info .right .top .name {
        -ms-flex: 6;
            flex: 6;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: start;
            align-items: flex-start;
        -ms-flex-pack: end;
            justify-content: flex-end; }
        .ticket-info .right .top .name p {
          font-weight: bold;
          font-size: 20px;
          position: relative;
          text-align: left;
          margin-left: 20px; }
          .ticket-info .right .top .name p:first-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #8cff3f;
            position: absolute;
            top: 9px;
            left: -17px; }
          .ticket-info .right .top .name p:last-child {
            line-height: 40px; }
          .ticket-info .right .top .name p:last-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #f35252;
            position: absolute;
            top: 15px;
            left: -17px; }
      .ticket-info .right .top .info {
        -ms-flex: 4;
            flex: 4;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        text-align: right;
        -ms-flex-pack: center;
            justify-content: center; }
        .ticket-info .right .top .info p {
          height: 28px;
          line-height: 28px;
          margin-right: 15px; }
          .ticket-info .right .top .info p:first-child {
            font-weight: 900;
            font-size: 20px;
            color: #f35252; }
          .ticket-info .right .top .info p:last-child {
            font-size: 12px;
            color: #323232;
            padding-top: 8px; }
    .ticket-info .right .bottom {
      -ms-flex: 3;
          flex: 3;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: start;
          justify-content: flex-start;
      position: relative;
      margin-top: 4px; }
      .ticket-info .right .bottom img {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px; }
      .ticket-info .right .bottom p {
        margin-left: 20px; }

.mint-navbar {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  background-color: #fff;
  position: fixed;
  top: 50px;
  left: 0;
  box-shadow: 0px 6px 5px 0px #ececec;
  z-index: 10; }
  .mint-navbar .mint-tab-item {
    -ms-flex: 0.5;
        flex: 0.5;
    width: 50%;
    font-size: 1.6rem; }
  .mint-navbar .is-selected {
    color: #0074D9; }

.body {
  width: 100%;
  padding-bottom: 50px; }
  .body .no-data {
    padding-top: 100px;
    text-align: center; }
    .body .no-data p {
      color: #AAAAAA;
      font-size: 1.8rem; }
  .body .order {
    width: 100%;
    margin-top: 60px; }

.page-header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #f35252;
  z-index: 4000; }
  .page-header > div {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
  .page-header img {
    width: 19px;
    height: 19px;
    line-height: 50px; }
  .page-header span.right {
    font-size: 14px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 25px;
    width: 50px; }
  .page-header span.center {
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    height: 50px;
    line-height: 50px; }

.page-header.active {
  background-color: #329be8; }

.write-info {
  width: 100%;
  margin-bottom: 10px; }
  .write-info > .line {
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    position: relative; }
    .write-info > .line > span {
      height: 50px;
      line-height: 50px;
      display: block;
      margin-right: 130px;
      padding-left: 20px;
      color: #c8c8c8;
      font-size: 16px;
      width: 75%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .write-info > .line > span.info {
      display: inline-block;
      margin-right: 0;
      padding-left: 0;
      width: 60px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      bottom: 0;
      right: 50px; }
    .write-info > .line > input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%; }
    .write-info > .line div.img {
      height: 50px;
      line-height: 50px;
      width: 70px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      text-align: center; }
      .write-info > .line div.img img {
        width: 20px;
        height: 20px; }

.passenger-info {
  width: 100%;
  margin-bottom: 10px; }
  .passenger-info .passenger-selected {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 10px; }
    .passenger-info .passenger-selected > .line {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      margin: 0 10px; }
      .passenger-info .passenger-selected > .line > div {
        -ms-flex: 2;
            flex: 2;
        height: 50px;
        line-height: 50px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: start;
            justify-content: flex-start;
        -ms-flex-align: center;
            align-items: center; }
        .passenger-info .passenger-selected > .line > div img {
          width: 20px;
          height: 20px;
          margin-left: 10px; }
      .passenger-info .passenger-selected > .line .center {
        -ms-flex: 6;
            flex: 6;
        height: 50px;
        line-height: 50px;
        font-size: 16px; }
      .passenger-info .passenger-selected > .line .right {
        -ms-flex: 2;
            flex: 2;
        height: 50px;
        line-height: 50px;
        font-size: 16px; }

.action-page {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll; }
  .action-page .action {
    padding-bottom: 50px; }
  .action-page .action-body {
    margin-top: 60px; }
    .action-page .action-body .contact {
      outline: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      margin: 0 10px;
      background-color: #fff;
      border-radius: 5px;
      height: 100px;
      color: #323232; }
      .action-page .action-body .contact .left {
        -ms-flex: 8;
            flex: 8; }
        .action-page .action-body .contact .left p {
          color: #323232;
          font-size: 15px;
          margin-left: 10px;
          height: 30px;
          line-height: 30px; }
        .action-page .action-body .contact .left span {
          display: inline-block;
          font-size: 12px;
          color: #c8c8c8;
          margin-left: 10px;
          height: 20px;
          line-height: 20px; }
      .action-page .action-body .contact .right {
        -ms-flex: 2;
            flex: 2;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        .action-page .action-body .contact .right > img {
          width: 20px;
          height: 20px; }
    .action-page .action-body .refund {
      text-align: center;
      background-color: #fff;
      margin: 10px 10px;
      border-radius: 5px;
      padding: 10px 0; }
      .action-page .action-body .refund p {
        font-size: 15px;
        font-weight: 900;
        color: #323232;
        height: 40px;
        line-height: 40px; }
      .action-page .action-body .refund span {
        display: inline-block;
        font-size: 12px;
        color: #c8c8c8;
        height: 40px;
        line-height: 40px; }
      .action-page .action-body .refund .passenger {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        .action-page .action-body .refund .passenger .passenger-line {
          width: 100%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center;
          position: relative; }
          .action-page .action-body .refund .passenger .passenger-line .img {
            -ms-flex: 2;
                flex: 2;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
                flex-direction: row;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: start;
                justify-content: flex-start;
            text-align: left; }
            .action-page .action-body .refund .passenger .passenger-line .img > img {
              width: 25px;
              height: 25px;
              margin-left: 10px;
              z-index: -1; }
            .action-page .action-body .refund .passenger .passenger-line .img::after {
              content: "";
              position: absolute;
              top: 7.5px;
              left: 10px;
              width: 25px;
              height: 25px;
              background-color: #fafafa;
              border-radius: 50%;
              z-index: 0; }
          .action-page .action-body .refund .passenger .passenger-line .name {
            -ms-flex: 3;
                flex: 3;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
                flex-direction: row;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: start;
                justify-content: flex-start; }
          .action-page .action-body .refund .passenger .passenger-line .info {
            -ms-flex: 5;
                flex: 5;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
                flex-direction: row;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: end;
                justify-content: flex-end;
            text-align: right;
            margin-right: 10px; }
            .action-page .action-body .refund .passenger .passenger-line .info > span {
              color: #c8c8c8; }
          .action-page .action-body .refund .passenger .passenger-line span {
            font-size: 15px;
            color: #323232; }
        .action-page .action-body .refund .passenger .passenger-line.active .img > img {
          z-index: 1; }
        .action-page .action-body .refund .passenger .passenger-line.active span {
          font-size: 15px;
          color: #323232; }
    .action-page .action-body .pay-ticket-info {
      margin: 0 10px;
      background-color: #fff;
      border-radius: 10px;
      position: relative; }
      .action-page .action-body .pay-ticket-info p {
        font-size: 16px;
        color: #c8c8c8;
        height: 40px;
        line-height: 40px;
        margin-left: 20px; }
      .action-page .action-body .pay-ticket-info p:nth-child(1) {
        color: #000; }

.code {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  margin: 5px 10px;
  border: 0.5px solid #c8c8c8;
  border-radius: 5px; }
  .code .img {
    -ms-flex: 4;
        flex: 4;
    width: 40%;
    padding: 5px; }
    .code .img > img {
      width: 100px;
      height: 100px;
      margin-left: 10px; }
  .code .right {
    -ms-flex: 6;
        flex: 6;
    width: 60%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-align: start;
        align-items: flex-start;
    margin-right: 5px; }
    .code .right > p {
      height: 40px;
      line-height: 40px;
      color: #000;
      font-weight: 900;
      font-size: 24px;
      -ms-flex: 1;
          flex: 1;
      width: 100%;
      text-align: left; }
      .code .right > p:nth-child(2n) {
        letter-spacing: 8px; }
      .code .right > p:first-child {
        color: #c8c8c8;
        font-size: 15px;
        text-align: left; }
      .code .right > p:last-child {
        color: #c8c8c8;
        font-size: 12px;
        text-align: right;
        padding-right: 20px; }

.refund-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 50px;
  line-height: 50px;
  background-color: #fff; }
  .refund-footer .all {
    -ms-flex: 2;
        flex: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    text-align: left;
    position: relative; }
    .refund-footer .all > img {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      z-index: -1; }
    .refund-footer .all::after {
      content: "";
      position: absolute;
      top: 12.5px;
      left: 20px;
      background-color: #fafafa;
      border-radius: 50%;
      z-index: 0;
      height: 25px;
      width: 25px; }
    .refund-footer .all span {
      font-size: 12px;
      margin-left: 10px;
      height: 50px;
      line-height: 50px;
      color: #c8c8c8; }
    .refund-footer .all span.active {
      color: #323232; }
  .refund-footer .all.active > img {
    z-index: 1; }
  .refund-footer .money {
    -ms-flex: 5;
        flex: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .refund-footer .money span.text {
      margin-left: 10px;
      font-size: 15px;
      color: #c8c8c8; }
    .refund-footer .money span.money {
      color: #f35252;
      font-size: 20px;
      margin-left: 10px;
      font-weight: 900; }
  .refund-footer .btn {
    -ms-flex: 3;
        flex: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .refund-footer .btn button {
      background-color: #f35252;
      padding: 10px 20px;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 5px; }

.pay {
  height: 50px;
  line-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 3px 0 3px 3px #efeeee;
  z-index: 4000; }
  .pay .left {
    -ms-flex: 5;
        flex: 5; }
    .pay .left p {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #c8c8c8; }
      .pay .left p span {
        font-size: 18px;
        color: #f35252;
        font-weight: 900; }
  .pay .right {
    -ms-flex: 5;
        flex: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .pay .right span {
      color: #c8c8c8;
      font-size: 12px;
      -ms-flex: 5;
          flex: 5; }
    .pay .right button {
      background-color: #329be8;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      outline: none;
      border: none;
      color: #fff;
      -ms-flex: 5;
          flex: 5;
      border-radius: 5px; }

.pay-order {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  left: 0;
  bottom: 0; }
  .pay-order .pay-lists {
    width: 100%;
    height: 100%;
    overflow-y: auto; }
  .pay-order .info-body {
    height: 160px;
    width: 100%;
    background-color: #2196F3;
    color: #fff;
    position: relative; }
    .pay-order .info-body .head {
      height: 40px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0px;
      width: 40px;
      text-align: center; }
      .pay-order .info-body .head > i {
        font-size: 20px;
        line-height: 40px; }
    .pay-order .info-body .status {
      text-align: center;
      padding-top: 20px; }
      .pay-order .info-body .status > i.fa {
        font-size: 4rem;
        color: #2ecc71; }
      .pay-order .info-body .status > i.fa-times-circle {
        color: #db3652; }
      .pay-order .info-body .status > p {
        font-size: 1.8rem;
        color: #fff;
        margin-top: 10px; }
      .pay-order .info-body .status p.time {
        font-size: 1.4rem; }
  .pay-order .ticket-body {
    margin-bottom: 10px;
    width: 100%; }
    .pay-order .ticket-body .pay-info {
      background-color: #fff;
      width: 100%;
      padding: 0 3%; }
      .pay-order .ticket-body .pay-info .qr-img {
        width: 90%;
        margin: 0 5%;
        text-align: center; }
        .pay-order .ticket-body .pay-info .qr-img img {
          width: 50%;
          height: 50%;
          border-radius: 20px; }
        .pay-order .ticket-body .pay-info .qr-img p {
          color: #AAAAAA; }
      .pay-order .ticket-body .pay-info .address-info {
        width: 96%;
        margin: 0px 2%;
        font-size: 1.2rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-align: center;
            align-items: center;
        height: 40px; }
        .pay-order .ticket-body .pay-info .address-info .city {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex: 1;
              flex: 1;
          position: relative;
          justify-content: center;
          text-align: center; }
          .pay-order .ticket-body .pay-info .address-info .city > span {
            font-size: 1.6rem;
            -ms-flex: 1;
                flex: 1;
            height: 40px;
            line-height: 40px; }
          .pay-order .ticket-body .pay-info .address-info .city > span.start {
            position: relative; }
            .pay-order .ticket-body .pay-info .address-info .city > span.start::before {
              position: absolute;
              bottom: 5px;
              right: -10%;
              height: 5px;
              width: 30%;
              background-color: #0074D9;
              content: ""; }
            .pay-order .ticket-body .pay-info .address-info .city > span.start::after {
              position: absolute;
              bottom: 5px;
              right: -15%;
              height: 0;
              width: 0;
              border: 5px solid #fff;
              border-color: transparent transparent #0074D9 #0074D9;
              content: ""; }
          .pay-order .ticket-body .pay-info .address-info .city i {
            position: absolute;
            top: 5px;
            left: 40%; }
      .pay-order .ticket-body .pay-info .info-box {
        min-height: 40px;
        border-top: 1px solid #f7f7f7; }
        .pay-order .ticket-body .pay-info .info-box > p {
          font-size: 1.3rem; }
          .pay-order .ticket-body .pay-info .info-box > p span {
            font-size: 1.3rem;
            color: #AAAAAA;
            line-height: 40px;
            min-height: 40px; }
          .pay-order .ticket-body .pay-info .info-box > p span.type {
            width: 50px; }
          .pay-order .ticket-body .pay-info .info-box > p span.name {
            color: #111111; }
  .pay-order .pay-ticket-info {
    background-color: #fff;
    width: 100%; }
    .pay-order .pay-ticket-info .pay-ticket-info-header {
      padding: 0 3%;
      border-bottom: 1px solid #dddddd; }
      .pay-order .pay-ticket-info .pay-ticket-info-header p {
        font-size: 1.4rem;
        height: 40px;
        line-height: 40px; }
    .pay-order .pay-ticket-info .pay-ticket-info-body {
      padding: 0 3%; }
      .pay-order .pay-ticket-info .pay-ticket-info-body p {
        font-size: 1.2rem;
        color: #919191;
        height: 30px;
        line-height: 30px; }
      .pay-order .pay-ticket-info .pay-ticket-info-body p.all {
        font-size: 1.4rem;
        text-align: right; }
  .pay-order .now-pay {
    width: 100%;
    padding: 0 2%;
    margin-top: 10px; }
    .pay-order .now-pay button {
      outline: none;
      border: 0;
      background-color: #FF851B;
      font-size: 1.5rem;
      color: #fff;
      width: 100%;
      height: 40px;
      border-radius: 10px; }
  .pay-order .out-order {
    width: 100%;
    text-align: center; }
    .pay-order .out-order a {
      color: #AAAAAA; }

.v-modal {
  display: none; }

.passenger-popup-visible {
  width: 80%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px; }
  .passenger-popup-visible .passenger {
    position: relative;
    border-radius: 10px;
    height: 100%;
    overflow-y: scroll; }
    .passenger-popup-visible .passenger .mint-checklist {
      margin-bottom: 50px; }
    .passenger-popup-visible .passenger button {
      width: 100%;
      padding: 10px;
      color: #fff;
      background-color: #0074D9;
      font-size: 1.6rem;
      position: fixed;
      bottom: 0px;
      left: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; }

.code-popup-visible {
  text-align: center;
  background: none;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .code-popup-visible img {
    width: 200px;
    height: 200px; }

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5000; }

.mint-msgbox-wrapper {
  z-index: 5001 !important; }
  .mint-msgbox-wrapper .mint-msgbox-btn {
    color: #0BB20C;
    font-size: 18px; }

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  overflow-x: hidden;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  box-shadow: 3px 0 3px 3px #efeeee;
  z-index: 100; }
  footer > .footer {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 33.3333%;
    color: #AAAAAA;
    height: 50px;
    line-height: 50px; }
    footer > .footer i {
      font-size: 1.8rem; }
    footer > .footer img {
      width: 22px;
      height: 22px; }
    footer > .footer p {
      font-size: 1.2rem;
      color: #AAAAAA;
      height: 20px;
      line-height: 20px; }
  footer .footer.active {
    color: #0074D9; }
    footer .footer.active p {
      color: #0074D9; }

.mint-msgbox-input input {
  height: 40px;
  line-height: 40px;
  font-size: 18px; }

.mint-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  z-index: 10000; }
  .mint-indicator .mint-indicator-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 25px !important; }

.mint-toast {
  z-index: 10000; }

.mint-msgbox {
  border-radius: 5px; }
