@charset "UTF-8";
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a, input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased; }

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: none; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeLeft-out {
  animation-name: fadeOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeLeft-in {
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeRight-in {
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOutRight {
  from {
    opacity: 0;
    transform: none; }
  to {
    opacity: 1;
    transform: translate3d(100%, 0, 0); } }

.fadeRight-out {
  animation-name: fadeOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

body {
  background-color: #f7f7f7; }

header {
  height: 50px;
  background-color: #2196F3;
  color: #fff;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0; }
  header .home {
    text-align: center;
    line-height: 50px;
    font-size: 1.8rem;
    font-weight: 900; }
  header .other {
    text-align: center; }
    header .other .left {
      height: 50px;
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px; }
      header .other .left i {
        font-size: 3rem;
        line-height: 50px; }
    header .other .center {
      line-height: 50px;
      font-size: 1.8rem; }

.body {
  width: 100%;
  margin-top: 50px; }
  .body .no-data {
    padding-top: 20px;
    text-align: center; }
    .body .no-data p {
      color: #AAAAAA;
      font-size: 1.8rem; }
  .body .order {
    width: 100%; }
    .body .order .lists {
      width: 94%;
      margin: 0 3%;
      margin-top: 60px; }
      .body .order .lists .list {
        width: 100%;
        padding: 5px 5px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 10px; }
        .body .order .lists .list .list-header {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          border-bottom: 1px solid #dddddd;
          padding: 5px 0; }
          .body .order .lists .list .list-header span {
            font-size: 1.4rem; }
          .body .order .lists .list .list-header span.time {
            text-align: left;
            -ms-flex: 0.7;
                flex: 0.7; }
          .body .order .lists .list .list-header span.type {
            text-align: right;
            -ms-flex: 0.3;
                flex: 0.3; }
        .body .order .lists .list .list-center {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          padding: 5px 0;
          min-height: 50px;
          -ms-flex-align: center;
              align-items: center; }
          .body .order .lists .list .list-center .city {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
                flex-direction: row;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex: 0.7;
                flex: 0.7; }
            .body .order .lists .list .list-center .city > span {
              font-size: 1.6rem;
              -ms-flex: 1;
                  flex: 1; }
          .body .order .lists .list .list-center span.money {
            font-size: 1.6rem;
            -ms-flex: 0.3;
                flex: 0.3;
            text-align: right; }
        .body .order .lists .list .list-footer {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          padding: 5px 0;
          min-height: 30px;
          -ms-flex-align: center;
              align-items: center; }
          .body .order .lists .list .list-footer span {
            font-size: 1.2rem;
            -ms-flex: 1;
                flex: 1; }
          .body .order .lists .list .list-footer span.name {
            text-align: left;
            color: #AAAAAA; }
          .body .order .lists .list .list-footer span.order-status {
            text-align: right; }
          .body .order .lists .list .list-footer span.order-pay {
            text-align: right; }

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-top: 1px solid #dddddd;
  background-color: #fff; }
  footer .footer {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    color: #AAAAAA; }
    footer .footer i {
      -ms-flex: 1;
          flex: 1;
      font-size: 1.8rem; }
    footer .footer p {
      -ms-flex: 1;
          flex: 1;
      font-size: 1.4rem;
      color: #AAAAAA; }
  footer .footer.active {
    color: #0074D9; }
    footer .footer.active p {
      color: #0074D9; }
