@charset "UTF-8";
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

a,
img,
button,
input,
textarea,
p,
div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

a,
img,
button,
p,
span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a,
input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

body {
  background-color: #f7f7f7;
  -webkit-overflow-scrolling: touch; }

header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #2196F3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #329be8; }
  header .left {
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    line-height: 50px; }
    header .left > img {
      width: 20px;
      height: 20px;
      line-height: 50px;
      position: absolute;
      left: 25px;
      top: 15.5px; }
  header .home {
    text-align: center; }
    header .home span {
      color: #fff;
      font-size: 20px; }

.body {
  width: 100%; }
  .body .header {
    height: 190px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
    padding: 0 20px; }
    .body .header > img {
      position: absolute;
      top: 0;
      left: 0;
      height: 190px;
      width: 100%;
      z-index: -1; }
    .body .header .content {
      height: 90px;
      width: 100%; }
    .body .header .left {
      -ms-flex: 5;
          flex: 5;
      text-align: left; }
      .body .header .left p {
        color: #fff;
        height: 45px;
        line-height: 45px;
        font-weight: 900;
        font-size: 30px; }
      .body .header .left span {
        color: #fff;
        font-size: 12px;
        height: 20px;
        line-height: 20px; }
        .body .header .left span:last-child {
          display: block;
          font-size: 12px;
          margin-top: 10px; }
    .body .header .right {
      -ms-flex: 5;
          flex: 5;
      text-align: right; }
      .body .header .right img {
        width: 90px;
        height: 90px;
        border-radius: 50%; }
  .body .lists {
    width: 100%;
    padding: 0 10px; }

.linestyle {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: block; }
  .linestyle > div {
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .linestyle > div > img {
      width: 20px;
      height: 20px; }
  .linestyle p {
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    color: #323232;
    margin-left: 10px; }

.order-lists {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-y: scroll; }
  .order-lists .lists {
    margin: 0 10px;
    margin-top: 100px;
    position: relative; }
    .order-lists .lists .order-lists-header {
      position: fixed;
      top: 50px;
      left: 0;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      margin-bottom: 10px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: white;
      padding: 0 20px; }
      .order-lists .lists .order-lists-header span {
        -ms-flex: 1;
            flex: 1;
        font-size: 16px;
        position: relative;
        font-weight: 900;
        color: #c8c8c8; }
      .order-lists .lists .order-lists-header span.active {
        color: #329be8; }
        .order-lists .lists .order-lists-header span.active::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 38%;
          background-color: #329be8;
          width: 20px;
          height: 4px; }
    .order-lists .lists .list {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px; }
      .order-lists .lists .list .list-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: center;
            justify-content: center;
        border-bottom: 1px solid #dddddd;
        padding: 5px 0; }
        .order-lists .lists .list .list-header span {
          font-size: 1.4rem;
          color: #444444; }
        .order-lists .lists .list .list-header span.time {
          text-align: left;
          -ms-flex: 0.7;
              flex: 0.7;
          font-size: 1.2rem; }
        .order-lists .lists .list .list-header span.type {
          text-align: right;
          -ms-flex: 0.3;
              flex: 0.3; }
      .order-lists .lists .list .list-center {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: center;
            justify-content: center;
        padding: 5px 0;
        min-height: 50px;
        -ms-flex-align: center;
            align-items: center; }
        .order-lists .lists .list .list-center .city {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex: 0.8;
              flex: 0.8;
          position: relative; }
          .order-lists .lists .list .list-center .city > span {
            font-size: 1.6rem;
            -ms-flex: 1;
                flex: 1; }
          .order-lists .lists .list .list-center .city > span.start {
            position: relative; }
            .order-lists .lists .list .list-center .city > span.start::before {
              position: absolute;
              bottom: 5px;
              right: 20%;
              height: 5px;
              width: 30%;
              background-color: #0074D9;
              content: ""; }
            .order-lists .lists .list .list-center .city > span.start::after {
              position: absolute;
              bottom: 5px;
              right: 12%;
              height: 0;
              width: 0;
              border: 6px solid #fff;
              border-color: transparent transparent #0074D9 #0074D9;
              content: ""; }
          .order-lists .lists .list .list-center .city i {
            position: absolute;
            top: 0;
            left: 27%; }
        .order-lists .lists .list .list-center span.money {
          font-size: 1.6rem;
          -ms-flex: 0.2;
              flex: 0.2;
          text-align: right;
          color: #db3652; }
      .order-lists .lists .list .list-footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: center;
            justify-content: center;
        padding: 5px 0;
        min-height: 30px;
        -ms-flex-align: center;
            align-items: center; }
        .order-lists .lists .list .list-footer span {
          font-size: 1.2rem; }
        .order-lists .lists .list .list-footer span.name {
          text-align: left;
          color: #777777;
          -ms-flex: 0.7;
              flex: 0.7; }
        .order-lists .lists .list .list-footer span.order-pay {
          -ms-flex: 0.3;
              flex: 0.3; }
        .order-lists .lists .list .list-footer span.order-status {
          text-align: right; }
        .order-lists .lists .list .list-footer span.order-pay {
          text-align: right; }
        .order-lists .lists .list .list-footer span.order-no {
          color: #db3652; }
        .order-lists .lists .list .list-footer span.order-paying {
          color: #0074D9; }
        .order-lists .lists .list .list-footer span.order-payed {
          color: #2ecc71; }

.write-info {
  width: 100%;
  margin-bottom: 10px; }
  .write-info > .line {
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    position: relative; }
    .write-info > .line > span {
      height: 50px;
      line-height: 50px;
      display: block;
      margin-right: 130px;
      padding-left: 20px;
      color: #c8c8c8;
      font-size: 16px;
      width: 75%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .write-info > .line > span.info {
      display: inline-block;
      margin-right: 0;
      padding-left: 0;
      width: 60px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      bottom: 0;
      right: 50px; }
    .write-info > .line > input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%; }
    .write-info > .line div.img {
      height: 50px;
      line-height: 50px;
      width: 70px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      text-align: center; }
      .write-info > .line div.img img {
        width: 20px;
        height: 20px; }

.ticket-info {
  margin: 10px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  height: 120px;
  border-radius: 6px;
  background-color: #fff;
  border: 0.5px solid #c8c8c8; }
  .ticket-info .left {
    z-index: 1;
    -ms-flex: 3;
        flex: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center; }
    .ticket-info .left > span {
      font-size: 12px;
      font-weight: 900;
      color: #323232;
      margin: 2px 0; }
      .ticket-info .left > span:first-child {
        font-size: 20px;
        color: #2196f3; }
      .ticket-info .left > span:last-child {
        color: #c8c8c8; }
  .ticket-info .center {
    z-index: 1;
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: left;
        align-items: left;
    height: 100%;
    padding: 13px 0;
    position: relative; }
    .ticket-info .center > span {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #fafafa;
      border: 0.5px solid #c8c8c8; }
      .ticket-info .center > span:first-child::after {
        width: 18px;
        height: 9px;
        background-color: #fafafa;
        border: 0.5px solid #c8c8c8;
        content: "";
        border-radius: 0 0 10px 10px;
        border-top-color: #fafafa;
        position: absolute;
        top: -0.7px;
        left: -4.5px;
        z-index: 10;
        transform: rotate(0deg); }
      .ticket-info .center > span:last-child::after {
        width: 18px;
        height: 9px;
        background-color: #fafafa;
        border: 0.5px solid #c8c8c8;
        border-bottom-color: #fafafa;
        content: "";
        border-radius: 10px 10px 0 0;
        position: absolute;
        bottom: -0.7px;
        left: -4.5px;
        z-index: 10;
        transform: rotate(0deg); }
  .ticket-info .right {
    z-index: 1;
    -ms-flex: 6;
        flex: 6;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 120px; }
    .ticket-info .right .top {
      -ms-flex: 7;
          flex: 7;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center; }
      .ticket-info .right .top .name {
        -ms-flex: 6;
            flex: 6;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: start;
            align-items: flex-start;
        -ms-flex-pack: end;
            justify-content: flex-end; }
        .ticket-info .right .top .name p {
          font-weight: bold;
          font-size: 20px;
          position: relative;
          text-align: left;
          margin-left: 20px; }
          .ticket-info .right .top .name p:first-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #8cff3f;
            position: absolute;
            top: 9px;
            left: -17px; }
          .ticket-info .right .top .name p:last-child {
            line-height: 40px; }
          .ticket-info .right .top .name p:last-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #f35252;
            position: absolute;
            top: 15px;
            left: -17px; }
      .ticket-info .right .top .info {
        -ms-flex: 4;
            flex: 4;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        text-align: right;
        -ms-flex-pack: center;
            justify-content: center; }
        .ticket-info .right .top .info p {
          height: 28px;
          line-height: 28px;
          margin-right: 25px; }
          .ticket-info .right .top .info p:first-child {
            font-weight: 900;
            font-size: 20px;
            color: #f35252; }
          .ticket-info .right .top .info p:last-child {
            font-size: 12px;
            color: #323232;
            padding-top: 8px; }
    .ticket-info .right .bottom {
      -ms-flex: 3;
          flex: 3;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: start;
          justify-content: flex-start;
      position: relative;
      margin-top: 4px; }
      .ticket-info .right .bottom img {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px; }
      .ticket-info .right .bottom p {
        margin-left: 20px; }

.discount-lists {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-y: scroll; }
  .discount-lists .lists {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 60px;
    -ms-flex-align: center;
        align-items: center; }
    .discount-lists .lists .list {
      width: 100%;
      padding: 0 2%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      margin-bottom: 10px;
      background-color: #fff; }
      .discount-lists .lists .list .left {
        -ms-flex: 0.1;
            flex: 0.1;
        text-align: center; }
        .discount-lists .lists .list .left img {
          width: 40px;
          height: 40px; }
      .discount-lists .lists .list .center {
        -ms-flex: 0.6;
            flex: 0.6;
        padding-left: 10px; }
        .discount-lists .lists .list .center p {
          font-size: 1.4rem;
          height: 24px;
          line-height: 24px; }
          .discount-lists .lists .list .center p span.little {
            font-size: 1rem; }
          .discount-lists .lists .list .center p span.red {
            color: #db3652; }
          .discount-lists .lists .list .center p span.big {
            font-size: 1.4rem; }
        .discount-lists .lists .list .center span {
          color: #AAAAAA;
          height: 20px;
          line-height: 20px; }
      .discount-lists .lists .list .right {
        -ms-flex: 0.3;
            flex: 0.3;
        text-align: center; }
        .discount-lists .lists .list .right a {
          color: white;
          background-color: #0074D9;
          font-size: 1.2rem;
          padding: 5px 10px;
          outline: none;
          border-radius: 10px; }

.action-page {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll; }
  .action-page > .action {
    padding-bottom: 50px; }
    .action-page > .action .action-body {
      margin-top: 20px; }
      .action-page > .action .action-body .add-action {
        width: 100%; }
        .action-page > .action .action-body .add-action > .line {
          margin: 0 10px;
          background-color: #fff;
          border-radius: 10px;
          height: 50px;
          position: relative; }
          .action-page > .action .action-body .add-action > .line input {
            height: 50px;
            display: block;
            margin-right: 70px;
            padding-left: 20px;
            font-size: 16px;
            width: 70%; }
          .action-page > .action .action-body .add-action > .line button {
            position: absolute;
            top: 0;
            right: 20px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #329be8;
            outline: none;
            border: none;
            background-color: #fff; }
            .action-page > .action .action-body .add-action > .line button i {
              font-size: 16px;
              color: #329be8; }
      .action-page > .action .action-body .pay-ticket-info {
        margin: 0 10px;
        background-color: #fff;
        border-radius: 10px;
        position: relative; }
        .action-page > .action .action-body .pay-ticket-info p {
          font-size: 16px;
          color: #c8c8c8;
          height: 40px;
          line-height: 40px;
          margin-left: 20px; }
        .action-page > .action .action-body .pay-ticket-info p:nth-child(1) {
          color: #000; }
      .action-page > .action .action-body .pay {
        height: 50px;
        line-height: 50px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 20px;
        background-color: #fff;
        box-shadow: 3px 0 3px 3px #efeeee; }
        .action-page > .action .action-body .pay .left {
          -ms-flex: 5;
              flex: 5; }
          .action-page > .action .action-body .pay .left p {
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #c8c8c8; }
            .action-page > .action .action-body .pay .left p span {
              font-size: 18px;
              color: #f35252;
              font-weight: 900; }
        .action-page > .action .action-body .pay .right {
          -ms-flex: 5;
              flex: 5;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; }
          .action-page > .action .action-body .pay .right span {
            color: #c8c8c8;
            font-size: 12px;
            -ms-flex: 5;
                flex: 5; }
          .action-page > .action .action-body .pay .right button {
            background-color: #329be8;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            outline: none;
            border: none;
            color: #fff;
            -ms-flex: 5;
                flex: 5;
            border-radius: 5px; }
    .action-page > .action p.refresh {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      color: #c8c8c8; }
      .action-page > .action p.refresh i {
        color: #c8c8c8; }
    .action-page > .action .action-select {
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      margin-top: 60px; }
      .action-page > .action .action-select .line {
        margin: 0 10px;
        margin-bottom: 10px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        height: 60px;
        line-height: 60px;
        border-radius: 10px;
        background-color: #fff; }
        .action-page > .action .action-select .line .left {
          -ms-flex: 0.3;
              flex: 0.3;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: start;
              justify-content: flex-start;
          -ms-flex-align: center;
              align-items: center; }
          .action-page > .action .action-select .line .left p {
            margin-left: 10px;
            font-size: 16px; }
        .action-page > .action .action-select .line .center {
          -ms-flex: 0.5;
              flex: 0.5;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: start;
              justify-content: flex-start;
          -ms-flex-align: center;
              align-items: center; }
          .action-page > .action .action-select .line .center p {
            line-height: 25px;
            color: #323232;
            font-size: 15px;
            margin-left: 10px; }
        .action-page > .action .action-select .line .right {
          -ms-flex: 0.2;
              flex: 0.2;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; }
          .action-page > .action .action-select .line .right > img {
            width: 20px;
            height: 20px; }
    .action-page > .action .action-use {
      margin-top: 50px; }
      .action-page > .action .action-use .popup-header {
        height: 50px;
        width: 100%;
        line-height: 50px;
        background-color: #fff;
        color: #c8c8c8;
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: center;
            justify-content: center; }
        .action-page > .action .action-use .popup-header span {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          -ms-flex: 1;
              flex: 1;
          font-weight: 900; }
        .action-page > .action .action-use .popup-header span.active {
          color: #329be8;
          position: relative; }
          .action-page > .action .action-use .popup-header span.active::after {
            position: absolute;
            bottom: 0px;
            left: 45%;
            width: 20px;
            height: 4px;
            background-color: #329be8;
            content: ""; }
      .action-page > .action .action-use .page {
        width: 100%; }
        .action-page > .action .action-use .page .rebate {
          height: 130px;
          display: -ms-flexbox;
          display: flex;
          margin: 0 10px;
          margin-top: 10px;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center; }
          .action-page > .action .action-use .page .rebate .left {
            -ms-flex: 3;
                flex: 3;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center;
            background-color: #329be8;
            position: relative; }
            .action-page > .action .action-use .page .rebate .left .circle {
              position: absolute;
              top: -3px;
              left: -5px;
              bottom: -3px;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-direction: column;
                  flex-direction: column;
              -ms-flex-pack: center;
                  justify-content: center;
              -ms-flex-align: center;
                  align-items: center;
              -ms-flex-pack: distribute;
                  justify-content: space-around; }
              .action-page > .action .action-use .page .rebate .left .circle span {
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 50%; }
            .action-page > .action .action-use .page .rebate .left .title {
              display: -ms-flexbox;
              display: flex;
              -ms-flex-direction: column;
                  flex-direction: column;
              -ms-flex-pack: center;
                  justify-content: center;
              -ms-flex-align: center;
                  align-items: center;
              color: #fff; }
              .action-page > .action .action-use .page .rebate .left .title p {
                -ms-flex: 6;
                    flex: 6;
                font-size: 30px;
                font-weight: 900;
                color: #fff; }
              .action-page > .action .action-use .page .rebate .left .title span {
                -ms-flex: 4;
                    flex: 4;
                font-size: 15px;
                font-weight: 900; }
          .action-page > .action .action-use .page .rebate .right {
            -ms-flex: 7;
                flex: 7;
            background-color: #fff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 1px solid #c8c8c8;
            border-left: none;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
                flex-direction: row;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center; }
            .action-page > .action .action-use .page .rebate .right .info {
              -ms-flex: 7;
                  flex: 7;
              height: 100px;
              text-align: left;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-direction: column;
                  flex-direction: column;
              -ms-flex-pack: center;
                  justify-content: center;
              -ms-flex-align: center;
                  align-items: center; }
              .action-page > .action .action-use .page .rebate .right .info span {
                font-size: 15px;
                font-weight: 900;
                height: 65px;
                width: 100%;
                padding: 10px 10px; }
              .action-page > .action .action-use .page .rebate .right .info span:last-child {
                color: #c8c8c8;
                font-weight: 400; }
            .action-page > .action .action-use .page .rebate .right .check {
              -ms-flex: 3;
                  flex: 3;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-direction: row;
                  flex-direction: row;
              -ms-flex-pack: center;
                  justify-content: center;
              -ms-flex-align: center;
                  align-items: center;
              height: 130px;
              position: relative; }
              .action-page > .action .action-use .page .rebate .right .check img {
                width: 25px;
                height: 25px;
                z-index: -1; }
              .action-page > .action .action-use .page .rebate .right .check span {
                position: absolute;
                top: 52px;
                left: 33%;
                width: 25px;
                height: 25px;
                background-color: #fafafa;
                border-radius: 50%;
                z-index: 0; }
              .action-page > .action .action-use .page .rebate .right .check a {
                font-size: 14px;
                height: 130px;
                width: 100%;
                text-align: center;
                line-height: 130px;
                color: #329be8; }
          .action-page > .action .action-use .page .rebate.active .check img {
            z-index: 1; }
          .action-page > .action .action-use .page .rebate.disabled .left {
            background-color: #c8c8c8; }
          .action-page > .action .action-use .page .rebate.disabled .right .info span {
            color: #c8c8c8; }

.passenger-lists {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-y: scroll; }
  .passenger-lists .lists {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 60px;
    -ms-flex-align: center;
        align-items: center;
    background-color: white; }
    .passenger-lists .lists .list {
      -ms-flex: 1;
          flex: 1;
      width: 100%;
      padding: 0 2%;
      height: 40px;
      line-height: 40px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      border-bottom: 1px solid #dddddd; }
      .passenger-lists .lists .list span {
        font-size: 1.4rem; }
      .passenger-lists .lists .list .passenger-name {
        -ms-flex: 0.2;
            flex: 0.2; }
      .passenger-lists .lists .list .passenger-phone {
        color: #777777;
        font-size: 1.2rem;
        -ms-flex: 0.5;
            flex: 0.5; }
      .passenger-lists .lists .list .passenger-operate {
        font-size: 1.4rem;
        height: 40px;
        line-height: 40px;
        color: #0074D9;
        -ms-flex: 0.3;
            flex: 0.3;
        text-align: right; }
        .passenger-lists .lists .list .passenger-operate i {
          height: 40px;
          width: 40px;
          line-height: 40px; }
  .passenger-lists .info-man {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    background-color: white;
    margin-top: 20px; }
    .passenger-lists .info-man .info {
      height: 40px;
      line-height: 40px;
      -ms-flex: 1;
          flex: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      width: 96%;
      margin: 0 2%;
      border-bottom: 1px solid #dddddd; }
      .passenger-lists .info-man .info span {
        -ms-flex: 0.3;
            flex: 0.3;
        font-size: 1.3rem; }
      .passenger-lists .info-man .info input {
        -ms-flex: 0.7;
            flex: 0.7;
        font-size: 1.3rem; }
    .passenger-lists .info-man .info-man-name input {
      -ms-flex: 0.7;
          flex: 0.7;
      font-size: 1.3rem; }
  .passenger-lists .add-passenger {
    color: white;
    background-color: #FF851B;
    width: 90%;
    margin: 0 5%;
    padding: 10px 0;
    border: 0;
    outline: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1.4rem; }
    .passenger-lists .add-passenger i {
      margin-right: 5px; }

.user-lists {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  margin-top: 50px; }
  .user-lists .lists {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    margin: 0 10px; }
    .user-lists .lists .info-man {
      -ms-flex: 1;
          flex: 1;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      border-bottom: 1px solid #dddddd; }
      .user-lists .lists .info-man .info-man-line {
        height: 50px;
        line-height: 50px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-align: center;
            align-items: center;
        background-color: white;
        border-radius: 10px;
        margin-top: 10px; }
        .user-lists .lists .info-man .info-man-line .left {
          -ms-flex: 0.3;
              flex: 0.3;
          margin-left: 10px; }
        .user-lists .lists .info-man .info-man-line .gray {
          -ms-flex: 0.5;
              flex: 0.5;
          color: #777777; }
        .user-lists .lists .info-man .info-man-line .right {
          -ms-flex: 0.2;
              flex: 0.2;
          height: 40px;
          line-height: 40px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; }
          .user-lists .lists .info-man .info-man-line .right i {
            float: right;
            color: #0074D9;
            font-size: 1.4rem; }
          .user-lists .lists .info-man .info-man-line .right > img {
            width: 20px;
            height: 20px; }
      .user-lists .lists .info-man span {
        font-size: 1.4rem; }

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5000; }

.mint-msgbox-wrapper {
  z-index: 5001 !important; }
  .mint-msgbox-wrapper .mint-msgbox-btn {
    color: #0BB20C;
    font-size: 18px; }

.help-lists {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  margin-top: 50px; }
  .help-lists .lists {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    margin-top: 10px; }
    .help-lists .lists .help {
      width: 100%; }
      .help-lists .lists .help .help-list {
        margin: 0 10px;
        background-color: #fff;
        margin-top: 10px;
        border-radius: 10px; }
        .help-lists .lists .help .help-list .header {
          height: 60px;
          line-height: 60px;
          position: relative; }
          .help-lists .lists .help .help-list .header span {
            font-size: 18px;
            color: #323232; }
          .help-lists .lists .help .help-list .header span.right {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center; }
            .help-lists .lists .help .help-list .header span.right i {
              color: #c8c8c8; }
        .help-lists .lists .help .help-list .help-content {
          width: 100%;
          padding: 15px 10px; }
          .help-lists .lists .help .help-list .help-content p {
            text-indent: 1em;
            font-size: 18px;
            line-height: 30px;
            color: #323232; }

.refund-lists {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-y: scroll; }
  .refund-lists .lists {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 60px;
    -ms-flex-align: center;
        align-items: center; }
    .refund-lists .lists .list {
      width: 96%;
      margin: 0 2%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      background-color: white;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 10px 10px;
      color: #111111; }
      .refund-lists .lists .list .left {
        -ms-flex: 0.8;
            flex: 0.8;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column; }
        .refund-lists .lists .list .left .left-line {
          height: 30px;
          line-height: 30px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row; }
          .refund-lists .lists .list .left .left-line .left-span {
            -ms-flex: 0.3;
                flex: 0.3; }
          .refund-lists .lists .list .left .left-line span:last-child {
            -ms-flex: 0.7;
                flex: 0.7; }
      .refund-lists .lists .list .right {
        -ms-flex: 0.2;
            flex: 0.2;
        position: relative; }
        .refund-lists .lists .list .right img.checking {
          position: absolute;
          right: 10px;
          bottom: 10px;
          width: 60px;
          height: 60px;
          transform: rotate(-30deg); }
    .refund-lists .lists span {
      font-size: 1.2rem; }
    .refund-lists .lists .blue {
      color: #0074D9; }
    .refund-lists .lists .red {
      color: #db3652; }

.mint-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  z-index: 10000; }
  .mint-indicator .mint-indicator-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 25px !important; }

.mint-toast {
  z-index: 10000; }

.mint-msgbox-input input {
  height: 40px;
  line-height: 40px;
  font-size: 18px; }

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  overflow-x: hidden;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  box-shadow: 3px 0 3px 3px #efeeee;
  z-index: 100; }
  footer .footer {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 33.3333%;
    color: #AAAAAA;
    height: 50px;
    line-height: 50px; }
    footer .footer i {
      font-size: 1.8rem; }
    footer .footer img {
      width: 22px;
      height: 22px; }
    footer .footer p {
      font-size: 1.2rem;
      color: #AAAAAA;
      height: 20px;
      line-height: 20px; }
  footer .footer.active {
    color: #0074D9; }
    footer .footer.active p {
      color: #0074D9; }

.v-modal {
  display: none; }
