@charset "UTF-8";
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

a, img, button, input, textarea, p {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a, input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased; }

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: none; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeLeft-out {
  animation-name: fadeOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeLeft-in {
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeRight-in {
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOutRight {
  from {
    opacity: 0;
    transform: none; }
  to {
    opacity: 1;
    transform: translate3d(100%, 0, 0); } }

.fadeRight-out {
  animation-name: fadeOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

.ticketbody {
  width: 96%;
  margin: 0 2%;
  padding-bottom: 100px; }
  .ticketbody .block {
    width: 100%;
    height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
    -ms-flex-direction: row;
        flex-direction: row;
    border-bottom: 1px solid #dddddd; }
    .ticketbody .block span {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      font-size: 1.4rem;
      color: #111111; }
      .ticketbody .block span i {
        margin-right: 5px; }
      .ticketbody .block span img {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px; }
    .ticketbody .block span:first-child {
      -ms-flex: 0.3;
          flex: 0.3;
      color: #AAAAAA; }
    .ticketbody .block span:last-child {
      -ms-flex: 0.7;
          flex: 0.7;
      font-size: 1.8rem;
      font-weight: 900;
      position: relative; }
      .ticketbody .block span:last-child > i {
        position: absolute;
        top: 20px;
        right: 10px;
        color: #AAAAAA; }
    .ticketbody .block span.station {
      margin-left: 10px;
      font-size: 1.4rem;
      height: 1.8rem; }
  .ticketbody > .data {
    width: 100%;
    height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
    -ms-flex-direction: row;
        flex-direction: row;
    border-bottom: 1px solid #dddddd; }
    .ticketbody > .data > span {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex: 0.5;
          flex: 0.5;
      font-size: 1.8rem;
      font-weight: 900;
      color: #111111; }
      .ticketbody > .data > span i {
        margin-right: 5px; }
      .ticketbody > .data > span img {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px; }
    .ticketbody > .data > span:first-child {
      width: 30%;
      color: #AAAAAA;
      font-size: 1.4rem;
      font-weight: 400; }
    .ticketbody > .data > span:last-child {
      width: 30%;
      font-size: 1.4rem;
      font-weight: 400; }
    .ticketbody > .data .cov-vue-date {
      height: 60px;
      width: 40%; }
  .ticketbody .query {
    width: 100%; }
    .ticketbody .query button {
      width: 90%;
      margin: 0 5%;
      background-color: #e74c3c;
      height: 50px;
      color: #fff;
      font-size: 1.6rem;
      margin-top: 10px;
      border-radius: 10px; }
  .ticketbody .click-search {
    width: 90%;
    margin: 0 5%;
    margin-top: 10px;
    padding-top: 5px;
    text-align: right; }
    .ticketbody .click-search p {
      font-size: 1.4rem;
      color: #0074D9; }
  .ticketbody .animated {
    animation-duration: 0.5s; }
  .ticketbody .search-record {
    width: 90%;
    margin: 0 5%;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center; }
    .ticketbody .search-record p {
      font-size: 1.6rem;
      height: 40px;
      line-height: 40px;
      color: #fff;
      background-color: #73777b;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    .ticketbody .search-record .list {
      width: 100%;
      padding: 0 5%;
      height: 30px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: center;
          align-items: center;
      background-color: #ecf0f1;
      position: relative; }
      .ticketbody .search-record .list span {
        font-size: 1.4rem;
        line-height: 20px;
        color: #000;
        -ms-flex: 0.5;
            flex: 0.5;
        display: inline-block;
        text-align: center;
        padding: 2px 5px; }
      .ticketbody .search-record .list span.first::after {
        content: "";
        height: 3px;
        width: 10%;
        position: absolute;
        top: 14px;
        left: 45%;
        background-color: #000; }
      .ticketbody .search-record .list span.first::before {
        content: "";
        height: 0;
        border: 4px solid #000;
        border-color: transparent transparent #000 #000;
        width: 0;
        position: absolute;
        top: 9px;
        left: 55%; }
      .ticketbody .search-record .list i {
        -ms-flex: 0.4;
            flex: 0.4;
        font-size: 1.4rem;
        color: #2980b9;
        height: 30px;
        line-height: 30px; }
  .ticketbody .location {
    width: 90%;
    margin: 0 5%;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center; }
    .ticketbody .location .showload span {
      font-size: 1.4rem;
      color: #555; }
    .ticketbody .location .showload i {
      font-size: 1.4rem; }
    .ticketbody .location .location-result span {
      font-size: 1.4rem; }
    .ticketbody .location .location-result i {
      font-size: 1.4rem; }
    .ticketbody .location .location-result span.refresh-location {
      color: #0074D9;
      border: 1px solid #0074D9;
      padding: 2px 5px;
      border-radius: 5px;
      margin-left: 10px; }
