@charset "UTF-8";
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

a,
img,
button,
input,
textarea,
p,
div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a,
input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

.ticketbody {
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 0; }
  .ticketbody .slider {
    height: 160px;
    padding-left: 25px;
    overflow-x: scroll;
    white-space: nowrap; }
    .ticketbody .slider > a {
      display: inline-block;
      margin-right: 5px; }
    .ticketbody .slider .slider-item {
      width: 250px;
      height: 150px;
      border-radius: 10px; }
  .ticketbody .index-body {
    width: 100%;
    padding: 0 25px; }
    .ticketbody .index-body .location {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      height: 60px;
      line-height: 60px; }
      .ticketbody .index-body .location > span {
        -ms-flex: 4;
            flex: 4;
        font-size: 20px;
        font-weight: 900;
        color: #1e1e1e;
        display: inline-block; }
        .ticketbody .index-body .location > span:last-child {
          text-align: right; }
      .ticketbody .index-body .location > div {
        -ms-flex: 2;
            flex: 2;
        text-align: center; }
        .ticketbody .index-body .location > div span {
          width: 32px;
          height: 4px;
          line-height: 12px;
          background-color: #329be8;
          display: inline-block;
          border-radius: 2px;
          position: relative; }
          .ticketbody .index-body .location > div span::after {
            content: "";
            position: absolute;
            bottom: 4px;
            right: 0px;
            width: 12px;
            height: 4px;
            border-radius: 2px;
            transform: rotate(45deg);
            background-color: #329be8; }
          .ticketbody .index-body .location > div span::before {
            content: "";
            position: absolute;
            top: 4px;
            right: 0px;
            width: 12px;
            height: 4px;
            border-radius: 2px;
            transform: rotate(-45deg);
            background-color: #329be8; }
    .ticketbody .index-body .date {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      height: 60px;
      line-height: 60px; }
      .ticketbody .index-body .date > span {
        -ms-flex: 3;
            flex: 3;
        display: inline-block;
        color: #c8c8c8;
        font-size: 12px; }
      .ticketbody .index-body .date > div {
        text-align: center;
        -ms-flex: 4;
            flex: 4; }
        .ticketbody .index-body .date > div span {
          display: inline-block;
          font-weight: 900;
          font-size: 18px;
          color: #1e1e1e; }
      .ticketbody .index-body .date > p {
        -ms-flex: 3;
            flex: 3;
        text-align: right; }
        .ticketbody .index-body .date > p > span {
          text-align: right;
          font-size: 18px;
          color: #329be8;
          height: 60px;
          line-height: 60px;
          float: left;
          margin-left: 20%; }
        .ticketbody .index-body .date > p > i {
          color: #c8c8c8;
          height: 60px;
          line-height: 60px; }
    .ticketbody .index-body .btn {
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 18px;
      border-radius: 5px;
      background-color: #329be8;
      margin-top: 20px; }
    .ticketbody .index-body .search-record {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      margin-top: 20px; }
      .ticketbody .index-body .search-record .list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row; }
        .ticketbody .index-body .search-record .list > span {
          -ms-flex: 4;
              flex: 4;
          color: #c8c8c8;
          display: inline-block;
          height: 25px;
          line-height: 25px; }
          .ticketbody .index-body .search-record .list > span:first-child {
            text-align: right; }
          .ticketbody .index-body .search-record .list > span:last-child {
            text-align: left; }
        .ticketbody .index-body .search-record .list > div {
          -ms-flex: 2;
              flex: 2;
          text-align: center; }
          .ticketbody .index-body .search-record .list > div > span {
            width: 14px;
            height: 2px;
            line-height: 12px;
            background-color: #c8c8c8;
            display: inline-block;
            border-radius: 2px;
            position: relative; }
            .ticketbody .index-body .search-record .list > div > span::after {
              content: "";
              position: absolute;
              bottom: 2px;
              right: 0px;
              width: 4px;
              height: 2px;
              border-radius: 2px;
              transform: rotate(45deg);
              background-color: #c8c8c8; }
            .ticketbody .index-body .search-record .list > div > span::before {
              content: "";
              position: absolute;
              top: 2px;
              right: 0px;
              width: 4px;
              height: 2px;
              border-radius: 2px;
              transform: rotate(-45deg);
              background-color: #c8c8c8; }
      .ticketbody .index-body .search-record p {
        text-align: center;
        color: #c8c8c8;
        height: 25px;
        line-height: 25px; }
