@charset "UTF-8";
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD; */
  background-image: none;
  color: black; }

a, img, button, input, textarea, p, div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

a, img, button, p, span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.font-red {
  color: #db3652; }

.font-blue {
  color: #0074D9; }

.font-gray {
  color: #2b2b2b; }

.font-small {
  font-size: 12px; }

.bg-gray {
  background-color: #AAAAAA; }

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btn {
  border: 0;
  outline: none; }

button:active {
  outline: none;
  border: 0; }

a, input {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus {
  text-decoration: none; }

html {
  font-size: 12px; }

input {
  outline: none;
  border: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*禁止选中*/
  -webkit-font-smoothing: antialiased; }

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: none; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeLeft-out {
  animation-name: fadeOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeLeft-in {
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeRight-in {
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOutRight {
  from {
    opacity: 0;
    transform: none; }
  to {
    opacity: 1;
    transform: translate3d(100%, 0, 0); } }

.fadeRight-out {
  animation-name: fadeOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both; }

body {
  background-color: #f7f7f7; }

#app {
  width: 100%;
  height: 100%;
  position: absolute; }

header {
  height: 50px;
  background-color: #2196F3;
  color: #fff;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0; }
  header .home {
    text-align: center;
    line-height: 50px;
    font-size: 1.8rem;
    font-weight: 900; }
  header .other {
    text-align: center; }
    header .other .left {
      height: 50px;
      font-size: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px; }
      header .other .left i {
        font-size: 3rem;
        line-height: 50px; }
    header .other .center {
      line-height: 50px;
      font-size: 1.8rem; }

.mint-navbar {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  background-color: #fff;
  position: fixed;
  top: 50px;
  left: 0;
  box-shadow: 0px 6px 5px 0px #ececec;
  z-index: 10; }
  .mint-navbar .mint-tab-item {
    -ms-flex: 0.5;
        flex: 0.5;
    width: 50%;
    font-size: 1.6rem; }
  .mint-navbar .is-selected {
    color: #0074D9; }

.body {
  width: 100%;
  padding-bottom: 50px; }
  .body .no-data {
    padding-top: 100px;
    text-align: center; }
    .body .no-data p {
      color: #AAAAAA;
      font-size: 1.8rem; }
  .body .order {
    width: 100%; }
    .body .order .lists {
      width: 94%;
      margin: 0 3%;
      margin-top: 100px; }
      .body .order .lists .list {
        width: 100%;
        padding: 5px 5px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 10px; }
        .body .order .lists .list .list-header {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          border-bottom: 1px solid #dddddd;
          padding: 5px 0; }
          .body .order .lists .list .list-header span {
            font-size: 1.4rem;
            color: #444444; }
          .body .order .lists .list .list-header span.time {
            text-align: left;
            -ms-flex: 0.7;
                flex: 0.7;
            font-size: 1.2rem; }
          .body .order .lists .list .list-header span.type {
            text-align: right;
            -ms-flex: 0.3;
                flex: 0.3; }
        .body .order .lists .list .list-center {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          padding: 5px 0;
          min-height: 50px;
          -ms-flex-align: center;
              align-items: center; }
          .body .order .lists .list .list-center .city {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
                flex-direction: row;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex: 0.8;
                flex: 0.8;
            position: relative; }
            .body .order .lists .list .list-center .city > span {
              font-size: 1.6rem;
              -ms-flex: 1;
                  flex: 1; }
            .body .order .lists .list .list-center .city > span.start {
              position: relative; }
              .body .order .lists .list .list-center .city > span.start::before {
                position: absolute;
                bottom: 5px;
                right: 20%;
                height: 5px;
                width: 30%;
                background-color: #0074D9;
                content: ""; }
              .body .order .lists .list .list-center .city > span.start::after {
                position: absolute;
                bottom: 5px;
                right: 12%;
                height: 0;
                width: 0;
                border: 6px solid #fff;
                border-color: transparent transparent #0074D9 #0074D9;
                content: ""; }
            .body .order .lists .list .list-center .city i {
              position: absolute;
              top: 0;
              left: 27%; }
          .body .order .lists .list .list-center span.money {
            font-size: 1.6rem;
            -ms-flex: 0.2;
                flex: 0.2;
            text-align: right;
            color: #db3652; }
        .body .order .lists .list .list-footer {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          padding: 5px 0;
          min-height: 30px;
          -ms-flex-align: center;
              align-items: center; }
          .body .order .lists .list .list-footer span {
            font-size: 1.2rem; }
          .body .order .lists .list .list-footer span.name {
            text-align: left;
            color: #777777;
            -ms-flex: 0.7;
                flex: 0.7; }
          .body .order .lists .list .list-footer span.order-pay {
            -ms-flex: 0.3;
                flex: 0.3; }
          .body .order .lists .list .list-footer span.order-status {
            text-align: right; }
          .body .order .lists .list .list-footer span.order-pay {
            text-align: right; }
          .body .order .lists .list .list-footer span.order-no {
            color: #db3652; }
          .body .order .lists .list .list-footer span.order-paying {
            color: #0074D9; }
          .body .order .lists .list .list-footer span.order-payed {
            color: #2ecc71; }

.pay-order {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  left: 0;
  bottom: 0; }
  .pay-order .pay-lists {
    width: 100%;
    height: 100%;
    overflow-y: auto; }
  .pay-order .info-body {
    height: 160px;
    width: 100%;
    background-color: #2196F3;
    color: #fff;
    position: relative; }
    .pay-order .info-body .head {
      height: 40px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0px;
      width: 40px;
      text-align: center; }
      .pay-order .info-body .head > i {
        font-size: 20px;
        line-height: 40px; }
    .pay-order .info-body .status {
      text-align: center;
      padding-top: 20px; }
      .pay-order .info-body .status > i.fa {
        font-size: 4rem;
        color: #2ecc71; }
      .pay-order .info-body .status > i.fa-times-circle {
        color: #db3652; }
      .pay-order .info-body .status > p {
        font-size: 1.8rem;
        color: #fff;
        margin-top: 10px; }
      .pay-order .info-body .status p.time {
        font-size: 1.4rem; }
  .pay-order .ticket-body {
    margin-bottom: 10px;
    width: 100%; }
    .pay-order .ticket-body .pay-info {
      background-color: #fff;
      width: 100%;
      padding: 0 3%; }
      .pay-order .ticket-body .pay-info .qr-img {
        width: 90%;
        margin: 0 5%;
        text-align: center; }
        .pay-order .ticket-body .pay-info .qr-img img {
          width: 50%;
          height: 50%;
          border-radius: 20px; }
        .pay-order .ticket-body .pay-info .qr-img p {
          color: #AAAAAA; }
      .pay-order .ticket-body .pay-info .address-info {
        width: 96%;
        margin: 0px 2%;
        font-size: 1.2rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-align: center;
            align-items: center;
        height: 40px; }
        .pay-order .ticket-body .pay-info .address-info .city {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: row;
              flex-direction: row;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex: 1;
              flex: 1;
          position: relative;
          justify-content: center;
          text-align: center; }
          .pay-order .ticket-body .pay-info .address-info .city > span {
            font-size: 1.6rem;
            -ms-flex: 1;
                flex: 1;
            height: 40px;
            line-height: 40px; }
          .pay-order .ticket-body .pay-info .address-info .city > span.start {
            position: relative; }
            .pay-order .ticket-body .pay-info .address-info .city > span.start::before {
              position: absolute;
              bottom: 5px;
              right: -10%;
              height: 5px;
              width: 30%;
              background-color: #0074D9;
              content: ""; }
            .pay-order .ticket-body .pay-info .address-info .city > span.start::after {
              position: absolute;
              bottom: 5px;
              right: -15%;
              height: 0;
              width: 0;
              border: 5px solid #fff;
              border-color: transparent transparent #0074D9 #0074D9;
              content: ""; }
          .pay-order .ticket-body .pay-info .address-info .city i {
            position: absolute;
            top: 5px;
            left: 40%; }
      .pay-order .ticket-body .pay-info .info-box {
        min-height: 40px;
        border-top: 1px solid #f7f7f7; }
        .pay-order .ticket-body .pay-info .info-box > p {
          font-size: 1.3rem; }
          .pay-order .ticket-body .pay-info .info-box > p span {
            font-size: 1.3rem;
            color: #AAAAAA;
            line-height: 40px;
            min-height: 40px; }
          .pay-order .ticket-body .pay-info .info-box > p span.type {
            width: 50px; }
          .pay-order .ticket-body .pay-info .info-box > p span.name {
            color: #111111; }
  .pay-order .pay-ticket-info {
    background-color: #fff;
    width: 100%; }
    .pay-order .pay-ticket-info .pay-ticket-info-header {
      padding: 0 3%;
      border-bottom: 1px solid #dddddd; }
      .pay-order .pay-ticket-info .pay-ticket-info-header p {
        font-size: 1.4rem;
        height: 40px;
        line-height: 40px; }
    .pay-order .pay-ticket-info .pay-ticket-info-body {
      padding: 0 3%; }
      .pay-order .pay-ticket-info .pay-ticket-info-body p {
        font-size: 1.2rem;
        color: #919191;
        height: 30px;
        line-height: 30px; }
      .pay-order .pay-ticket-info .pay-ticket-info-body p.all {
        font-size: 1.4rem;
        text-align: right; }
  .pay-order .now-pay {
    width: 100%;
    padding: 0 2%;
    margin-top: 10px; }
    .pay-order .now-pay button {
      outline: none;
      border: 0;
      background-color: #FF851B;
      font-size: 1.5rem;
      color: #fff;
      width: 100%;
      height: 40px;
      border-radius: 10px; }
  .pay-order .out-order {
    width: 100%;
    text-align: center; }
    .pay-order .out-order a {
      color: #AAAAAA; }

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  overflow-x: hidden;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  box-shadow: 3px 0 3px 3px #efeeee;
  z-index: 100; }
  footer .footer {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 33.3333%;
    color: #AAAAAA;
    height: 50px;
    line-height: 50px; }
    footer .footer i {
      font-size: 1.8rem; }
    footer .footer img {
      width: 22px;
      height: 22px; }
    footer .footer p {
      font-size: 1.2rem;
      color: #AAAAAA;
      height: 20px;
      line-height: 20px; }
  footer .footer.active {
    color: #0074D9; }
    footer .footer.active p {
      color: #0074D9; }

.mint-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  z-index: 10000; }
  .mint-indicator .mint-indicator-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 25px !important; }
