@import "./utils.scss";
#pay input {
  border: 0;
  outline: none;
}

#pay {
  padding: 0;
  background-color: #fafafa;
  padding-bottom: 50px;
}

.header {
  width: 100%;
  height: 125px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #41a1e7;
  z-index: 100;
  >img {
    width: 100%;
    height: 125px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header-title {
    height: 50px;
    position: relative;
    >div {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
    }
    img {
      width: 19px;
      height: 19px;
      line-height: 50px;
      position: absolute;
      left: 25px;
      top: 15.5px;
    }
    >span {
      font-size: 18px;
      color: $white;
      font-weight: 900;
      height: 50px;
      line-height: 50px;
      float: right;
      margin-right: 25px;
    }
  }
  .header-router {
    width: 96%;
    padding: 0 2%;
    text-align: center;
    .router {
      height: 60px;
      margin: 0 -10px;
      overflow-x: scroll;
      white-space: nowrap;
      >div {
        display: inline-block;
        position: relative;
        // line-height: 50px;
        height: 50px;
        width: 44px;
        &:after {
          content: "";
          width: 25px;
          height: 1px;
          position: absolute;
          bottom: 8px;
          right: -14px;
          background-color: #fff;
          z-index: 1;
        }
        &:last-child::after {
          content: "";
          width: 25px;
          height: 0px;
          position: absolute;
          bottom: 8px;
          right: -14px;
          background-color: #fff;
          z-index: 1;
        }
      }
      >div.other {
        &:after {
          content: "";
          width: 25px;
          height: 1px;
          position: absolute;
          bottom: 9px;
          right: -14px;
          background-color: #c8c8c8;
        }
      }
      >div:last-child {
        &:after {
          content: "";
          width: 0;
          height: 0;
        }
      }
      >div.last {
        &:after {
          content: "";
          width: 25px;
          height: 1px;
          position: absolute;
          bottom: 10px;
          right: -14px;
          background-color: #c8c8c8;
        }
      }
      span {
        font-size: 12px;
        width: 44px;
        display: inline-block;
        color: $white;
        font-weight: 900;
        margin-top: 16px;
        position: absolute;
        top: 0;
        left: 0;
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: 19px;
          background-color: #fff;
        }
      }
      //最外的圆
      >div.active {
        &::before {
          content: "";
          width: 13px;
          height: 13px;
          border-radius: 50%;
          position: absolute;
          bottom: 2px;
          right: 15px;
          background-color: #6cb9f1;
          z-index: 1;
        }
      }
      span.gray {
        color: rgb(200, 200, 200);
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: 19px;
          background-color: #c8c8c8;
        }
      }
      span.active {
        position: absolute;
        top: 0;
        left: 0;
        color: #329be8;
        height: 20px;
        margin-top: 10px;
        line-height: 20px;
        border: 0.5px solid $white;
        border-radius: 10px;
        background-color: $white;
        //中心圆
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -15px;
          left: 19px;
          background-color: $white;
          z-index: 3;
        }
        // 中间的圆
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          bottom: -17px;
          left: 17px;
          background-color: #b1d5f0;
          z-index: 2;
        }
      }
    }
  }
}

.mint-toast {
  z-index: 10000;
}

.ticket-info {
  width: 96%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;
  margin: 5px 2%;
  border-radius: 6px;
  background-color: $white;
  border: 0.5px solid #c8c8c8;
  >div {
    float: left;
  }
  .left {
    z-index: 1;
    flex: 3;
    width: 30%;
    // display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    >span {
      font-size: 12px;
      font-weight: 900;
      color: rgb(50, 50, 50);
      margin: 2px 0;
      display: block;
      &:first-child {
        font-size: 20px;
        color: rgb(33, 150, 243);
        margin-top: 25px;
      }
      &:last-child {
        color: rgb(200, 200, 200);
      }
    }
  }
  .center {
    z-index: 1;
    flex: 1;
    width: 10%;
    // display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    height: 100%;
    padding: 13px 0;
    position: relative;
    >span {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #fafafa;
      border: 0.5px solid #c8c8c8;
      display: block;
      margin: 6px 0
    }
    canvas.canvas-top {
      position: absolute;
      top: -2px;
      left: -5px;
      width: 18px;
      height: 9;
    }
    canvas.canvas-bottom {
      position: absolute;
      bottom: -2px;
      left: -5px;
      width: 18px;
      height: 9;
    }
  }
  .right {
    z-index: 1;
    flex: 6;
    width: 60%;
    // display: flex;
    flex-direction: column;
    height: 120px;
    .top {
      flex: 6.5;
      height: 90px;
      // display: flex;
      flex-direction: row;
      justify-content: center;
      >div {
        float: left;
        height: 90px;
      }
      .name {
        flex: 6.5;
        width: 65%;
        // display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        p {
          font-weight: bold;
          font-size: 18px;
          position: relative;
          text-align: left;
          height: 45px;
          line-height: 45px;
          margin-left: 20px;
          @include responsive("iphone5") {
            font-size: 16px;
            margin-left: 10px;
          }
          // @include text_nowrap;
          &:first-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $my_green;
            position: absolute;
            top: 18px;
            left: -17px;
          }
          &:last-child {
            line-height: 40px;
          }
          &:last-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $my_red;
            position: absolute;
            top: 15px;
            left: -17px;
          }
        }
      }
      .info {
        flex: 3.5;
        width: 35%;
        // display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        p {
          height: 35px;
          line-height: 35px;
          margin-right: 10px;
          &:first-child {
            font-weight: 900;
            font-size: 20px;
            color: rgb(243, 82, 82);
            line-height: 45px;
          }
          &:last-child {
            font-size: 12px;
            color: rgb(50, 50, 50);
            padding-top: 8px;
            line-height: 45px;
          }
          @include responsive("iphone5") {
            margin-right: 10px;
            &:first-child {
              font-size: 16px;
            }
            &:last-child {
              padding-top: 6px;
            }
          }
        }
        @include responsive('iphone5') {
          p {
            margin-right: 10px;
          }
        }
      }
    }
    .bottom {
      flex: 3;
      height: 30px;
      // display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      margin-top: 4px;
      img {
        &:first-child {
          position: absolute;
          top: 2px;
          left: 4px;
          width: 10px;
          height: 10px;
        }
        &.right {
          position: absolute;
          top: 5px;
          right: 25px;
          width: 10px;
          height: 8px;
        }
      }
      p {
        margin-left: 20px;
        text-align: left;
      }
    }
  }
}

//选择的乘客信息展示
.passenger-info {
  width: 100%;
  margin-bottom: 10px;
  .passenger-selected {
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 10px;
    >.line {
      // display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      width: 100%;
      height: 50px;
      >div {
        // flex: 2;
        width: 60px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        // display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        float: left;
        img {
          width: 20px;
          height: 20px;
          margin-left: 10px;
          margin-top: 15px;
        }
      }
      >span {
        float: left;
      }
      .center {
        flex: 8;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        width: 40%;
        display: inline-block;
      }
      .right {
        flex: 2;
        width: 40%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        display: inline-block;
        text-align: right;
        padding-right: 10px;
      }
    }
  }
}

.write-info {
  width: 100%;
  margin-bottom: 10px;
  >.line {
    margin: 0 10px;
    background-color: $white;
    border-radius: 10px;
    height: 50px;
    position: relative;
    >span {
      height: 50px;
      line-height: 50px;
      display: block;
      margin-right: 130px;
      padding-left: 20px;
      color: #c8c8c8;
      font-size: 16px;
      width: 75%;
      @include text_nowrap;
    }
    >span.info {
      display: inline-block;
      margin-right: 0;
      padding-left: 0;
      width: 60px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      bottom: 0;
      right: 50px;
    }
    >input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%;
    }
    div.img {
      height: 50px;
      line-height: 50px;
      width: 70px;
      position: absolute;
      bottom: 0;
      right: 0;
      // display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        width: 20px;
        height: 20px;
        margin-top: 15px;
      }
    }
  }
}

.page-header {
  // height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  width: 100%;
  text-align: center;
  background-color: #2196F3;
  // display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  >div {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 0;
    // display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 19px;
    height: 19px;
    line-height: 50px;
    margin-top: 15px;
  }
  >span.right {
    font-size: 14px;
    color: $white;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 25px;
    width: 50px;
    font-weight: 900;
  }
  >span.center {
    font-size: 18px;
    color: $white;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
  }
  >.popup-header {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: $white;
    color: #c8c8c8;
    text-align: center;
    // display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 50px;
    left: 0;
    span {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      flex: 1;
      font-weight: 900;
      float: left;
      width: 50%;
    }
    span.active {
      color: #329be8;
      position: relative;
      &::after {
        position: absolute;
        bottom: 0px;
        left: 45%;
        width: 20px;
        height: 4px;
        background-color: #329be8;
        content: "";
      }
    }
  }
}

.action-select-car {
  width: 100%;
  margin-top: 60px;
  padding: 0 10px;
  .line-car {
    float: left;
    height: 60px;
    width: 49%;
    line-height: 60px;
    border-radius: 10px;
    background-color: $white;
    margin-top: 2px;
    margin-bottom: 5px;
    .left {
      // display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      >img {
        width: 25px;
        height: 25px;
        // margin-left: 5px;
        z-index: 1;
        position: absolute;
        top: 18px;
        left: 5px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 18px;
        left: 5px;
        width: 25px;
        height: 25px;
        background-color: #fafafa;
        border-radius: 50%;
        z-index: 0;
      }
    }
    .center {
      margin-left: 30px;
      // display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 60px;
      p {
        line-height: 25px;
        color: rgb(50, 50, 50);
        font-size: 15px;
        margin-left: 10px;
        margin-top: 18px;
      }
    }
    &:nth-child(2n) {
      margin-left: 2%;
    }
  }
}

//选择页
.action-page {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll;
  .action {
    padding-bottom: 50px;
    .action-body {
      margin-top: 60px;
      .add-action {
        width: 100%;
        .line {
          margin: 0 10px;
          background-color: $white;
          border-radius: 10px;
          height: 50px;
          position: relative;
          input {
            height: 50px;
            display: block;
            margin-right: 70px;
            padding-left: 20px;
            font-size: 16px;
            width: 70%;
          }
          button {
            position: absolute;
            top: 0;
            right: 20px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #329be8;
            outline: none;
            border: none;
            background-color: $white;
            i {
              font-size: 16px;
              color: #329be8;
            }
          }
        }
      }
      .pay-ticket-info {
        margin: 0 10px;
        background-color: $white;
        border-radius: 10px;
        position: relative;
        p {
          font-size: 16px;
          color: #c8c8c8;
          height: 40px;
          line-height: 40px;
          margin-left: 20px;
        }
        p:nth-child(1) {
          color: #000;
        }
      }
    }
    p.refresh {
      clear: both;
      height: 20px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      color: #c8c8c8;
      i {
        color: #c8c8c8;
      }
    }
    .action-select {
      width: 100%;
      // display: flex;
      flex-direction: column;
      margin-top: 60px;
      .line {
        margin: 0 10px;
        margin-bottom: 10px;
        // display: flex;
        flex-direction: row;
        height: 60px;
        line-height: 60px;
        border-radius: 10px;
        background-color: $white;
        >div {
          display: inline-block;
          float: left;
          height: 60px;
          line-height: 60px;
        }
        .left {
          flex: 2;
          width: 20%;
          // display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          >img {
            width: 25px;
            height: 25px;
            margin-left: 20px;
            z-index: 10;
            margin-top: 20px;
          }
          &::after {
            content: "";
            position: absolute;
            top: 20px;
            left: 20px;
            width: 25px;
            height: 25px;
            background-color: #fafafa;
            border-radius: 50%;
            z-index: -1;
          }
        }
        .center {
          flex: 6;
          width: 60%;
          // display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          p {
            line-height: 30px;
            height: 50%;
            color: rgb(50, 50, 50);
            font-size: 15px;
            margin-left: 10px;
          }
        }
        .right {
          flex: 2;
          width: 20%;
          // display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          >img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .action-use {
      margin-top: 50px;
      .popup-header {
        height: 50px;
        width: 100%;
        line-height: 50px;
        background-color: $white;
        color: #c8c8c8;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        span {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          flex: 1;
          font-weight: 900;
          float: left;
          width: 50%;
        }
        span.active {
          color: #329be8;
          position: relative;
          &::after {
            position: absolute;
            bottom: 0px;
            left: 45%;
            width: 20px;
            height: 4px;
            background-color: #329be8;
            content: "";
          }
        }
      }
      >.page {
        padding: 0 10px;
      }
      .rebate {
        // height: 200px;
        display: flex;
        margin-top: 10px;
        background-color: #fff;
        @include display_flex("column");
        width: 50%;
        float: left;
        .top {
          width: 100%;
          height: 100px;
          position: relative;
          img {
            width: 100%;
            height: 100px;
          }
          p {
            // width:100%;
            bottom: 5px;
            right: 5px;
            left: 5px;
            text-align: right;
            color: #fff;
            position: absolute;
            font-weight: 900;
          }
        }
        .bottom {
          border: 0.5px solid #c8c8c8;
          border-top: none;
          // height:100px;
          width: 100%;
          @include display_flex("row");
          .left {
            flex: 7;
            padding-left: 10px;
            p {
              font-size: 23px;
              color: rgb(50, 50, 50);
              font-weight: 900;
              >span {
                font-size: 12px;
                margin-right: 5px;
              }
            }
            .limit,
            .name {
              font-size: 12px;
              font-weight: 900;
              color: rgb(50, 50, 50);
            }
            .time {
              font-size: 12px;
              font-weight: 400;
              line-height: 12px;
              color: #c8c8c8;
              margin-bottom: 8px;
            }
          }
          .right {
            flex: 3;
            text-align: center;
            position: relative;
            img {
              width: 28px;
              height: 28px;
              z-index: -1;
            }
            span {
              width: 30px;
              height: 30px;
              background-color: #fafafa;
              border-radius: 50%;
              z-index: 1;
              position: absolute;
              top: -1px;
              right: 20%;
            }
            @include responsive('iphone5') {
              span {
                right: 6px;
              }
            }
          }
        }
        &:nth-child(1+2n) {
          padding-right: 5px;
        }
        &:nth-child(2n) {
          padding-left: 5px;
        }
        &.active {
          .check {
            img {
              z-index: 2;
            }
          }
          span {
            background-color: #fafafa;
            z-index: -1 !important;
          }
        }
        &.disabled {
          .bottom {
            p {
              color: #c8c8c8 !important;
            }
          }
        }
      }
      @include responsive('iphone5') {
        .rebate {
          height: 220px;
        }
        .bottom {
          height: 120px;
        }
      }
    }
  }
}

.add-action {
  width: 100%;
  .line.change {
    margin: 0;
    background-color: $white;
    border-radius: 10px;
    height: 50px;
    position: relative;
    input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%;
    }
    button {
      position: absolute;
      top: 0;
      right: 20px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #329be8;
      outline: none;
      border: none;
      background-color: $white;
      i {
        font-size: 16px;
        color: #329be8;
      }
    }
  }
}


/** 修改修改乘客弹窗 */

.change-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  .change-page-body {
    width: 80%;
    // height:40%;
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    margin-top: 100px;
    .line-header {
      height: 40px;
      font-size: 20px;
      text-align: center;
      @include display_flex('row');
    }
    .line-btn {
      // @include display_flex('row');
      width: 100%;
      >button {
        flex: 1;
        background-color: #fff;
        border: none;
        outline: none;
        height: 40px;
        font-size: 16px;
        width: 50%;
        text-align: center;
        float: left;
        &.left-btn {
          color: #999;
        }
        &.right-btn {
          color: $blue;
        }
      }
    }
  }
}


/** 支付footer */

.pay {
  height: 50px;
  line-height: 50px;
  @include display_flex('row');
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  background-color: $white;
  box-shadow: 3px 0 3px 3px #efeeee;
  z-index: 4000;
  .left {
    flex: 5;
    p {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #c8c8c8;
      span {
        font-size: 18px;
        color: $my_red;
        font-weight: 900;
      }
    }
  }
  .right {
    flex: 5;
    @include display_flex('row');
    span {
      color: #c8c8c8;
      font-size: 12px;
      flex: 5;
    }
    button {
      background-color: #329be8;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      outline: none;
      border: none;
      color: $white;
      flex: 5;
      border-radius: 5px;
    }
  }
}

#pay {
  .v-modal {
    display: none;
  }
}

.set-position {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 100px;
}

.root-tip-info {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  padding-bottom: 60px;
  .text {
    width: 92%;
    margin: 0 4%;
    border: 1px solid $orange;
    border-radius: 5px;
    padding: 5px 10px;
    >p {
      color: $orange;
      line-height: 20px;
    }
  }
}

.submit-box {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: $white;
  // display: flex;
  flex-direction: row;
  box-shadow: 3px 0 3px 3px #efeeee;
  >div {
    float: left;
    display: inline-block;
  }
  .order-info {
    flex: 0.6;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 5px 0;
    p {
      // color:lighten($gray,20%);
      color: #c8c8c8;
      height: 20px;
      line-height: 20px;
      font-size: 1.1rem;
      >span {
        // margin-left:10px;
        >span {
          margin-left: 5px;
        }
      }
    }
    p:first-child {
      font-size: 1.3rem;
      color: darken($gray, 30%);
      >span {
        margin: 10px;
        color: $my_red;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
  .submit-order {
    flex: 0.4;
    width: 40%;
    float: right;
    >button {
      background-color: #329be8;
      color: $white;
      font-size: 1.3rem;
      outline: none;
      border: 0;
      height: 40px;
      margin-top: 5px;
      border-radius: 5px;
      width: 90%;
    }
  }
}

.tip-popup-visible {
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.8);
  >.body {
    text-align: center;
    width: 96%;
    margin: 10px 2%;
    overflow-y: auto;
    height: 100%;
    padding-top: 0;
    @include responsive('iphone5') {
      margin: 0px 2%;
    }
    h3 {
      color: $white;
      font-size: 1.5rem;
      margin-top: 10px;
      @include responsive('iphone5') {
        margin-top: 5px;
        font-size: 1.3rem;
      }
    }
    p {
      color: $white;
      font-size: 1.3rem;
      text-align: left;
      @include responsive('iphone5') {
        font-size: 1.1rem;
      }
    }
    button {
      background-color: $blue;
      color: $white;
      font-size: 1.3rem;
      outline: none;
      border: 0;
      height: 40px;
      margin-top: 10px;
      border-radius: 5px;
      width: 40%;
    }
  }
}

.mint-msgbox-input {
  input {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}


/** 弹出框 */

.mint-msgbox-wrapper {
  z-index: 5001 !important;
  .mint-msgbox {
    border-radius: 10px;
  }
  .mint-msgbox-btn {
    font-size: 18px;
  }
  .mint-msgbox-content {
    border: none;
  }
  .mint-msgbox-cancel {
    color: #c8c8c8;
    border: none;
  }
  .mint-msgbox-confirm {
    color: $blue;
    border: none;
  }
}

.success {
  color: #2ecc71;
}
