@import "./utils.scss";
body {
  background-color: lighten($gray, 30%);
}

#app {
  width: 100%;
  height: 100%;
  position: absolute;
}

header {
  height: 50px;
  // background-color:#14d67c;
  background-color: $white;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0;
  span {
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #c8c8c8;
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    text-align: center;
  }
  span.active {
    color: #329be8;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 40px;
      height: 4px;
      width: 20px;
      background-color: #329be8;
    }
  }
}

.ticket-info {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;
  border-radius: 6px;
  background-color: $white;
  border: 0.5px solid #c8c8c8;
  .left {
    z-index: 1;
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    >span {
      font-size: 12px;
      font-weight: 900;
      color: rgb(50, 50, 50);
      margin: 2px 0;
      &:first-child {
        font-size: 20px;
        color: rgb(33, 150, 243);
      }
      &:last-child {
        color: rgb(200, 200, 200);
      }
    }
  }
  .center {
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    height: 100%;
    padding: 13px 0;
    position: relative;
    >span {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #fafafa;
      border: 0.5px solid #c8c8c8;
      &:first-child::after {
        width: 18px;
        height: 9px;
        background-color: #fafafa;
        border: 0.5px solid #c8c8c8;
        content: "";
        border-radius: 0 0 10px 10px;
        border-top-color: #fafafa;
        position: absolute;
        top: -0.7px;
        left: -4.5px;
        z-index: 10;
        transform: rotate(0deg);
      }
      &:last-child::after {
        width: 18px;
        height: 9px;
        background-color: #fafafa;
        border: 0.5px solid #c8c8c8;
        border-bottom-color: #fafafa;
        content: "";
        border-radius: 10px 10px 0 0;
        position: absolute;
        bottom: -0.7px;
        left: -4.5px;
        z-index: 10;
        transform: rotate(0deg);
      }
    }
  }
  .right {
    z-index: 1;
    flex: 6;
    display: flex;
    flex-direction: column;
    height: 120px;
    .top {
      flex: 7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .name {
        flex: 6;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        p {
          font-weight: bold;
          font-size: 20px;
          position: relative;
          text-align: left;
          margin-left: 20px;
          &:first-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #8cff3f;
            position: absolute;
            top: 9px;
            left: -17px;
          }
          &:last-child {
            line-height: 40px;
          }
          &:last-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #f35252;
            position: absolute;
            top: 15px;
            left: -17px;
          }
        }
      }
      .info {
        flex: 4;
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        p {
          height: 28px;
          line-height: 28px;
          margin-right: 25px;
          &:first-child {
            font-weight: 900;
            font-size: 20px;
            color: rgb(243, 82, 82);
          }
          &:last-child {
            font-size: 12px;
            color: rgb(50, 50, 50);
            padding-top: 8px;
          }
        }
      }
    }
    .bottom {
      flex: 3;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      margin-top: 4px;
      img {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
      }
      p {
        margin-left: 20px;
      }
    }
  }
}

.mint-navbar {
  // margin-top:50px;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $white;
  position: fixed;
  top: 50px;
  left: 0;
  box-shadow: 0px 6px 5px 0px #ececec;
  z-index: 10;
  .mint-tab-item {
    flex: 0.5;
    width: 50%;
    font-size: 1.6rem;
  }
  .is-selected {
    color: $blue;
  }
}

.body {
  width: 100%;
  // margin-top:50px;
  padding-bottom: 50px;
  .no-data {
    padding-top: 100px;
    text-align: center;
    p {
      color: $gray;
      font-size: 1.8rem;
    }
  }
  .order {
    width: 100%;
    margin-top: 60px;
  }
}

.page-header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  background-color: #2196F3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f35252;
  >div {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 19px;
    height: 19px;
    line-height: 50px;
  }
  span.right {
    font-size: 14px;
    color: $white;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 25px;
    width: 50px;
  }
  span.center {
    font-size: 18px;
    color: $white;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
  }
}

.page-header.active {
  background-color: #329be8;
}

.write-info {
  width: 100%;
  margin-bottom: 10px;
  >.line {
    margin: 0 10px;
    background-color: $white;
    border-radius: 10px;
    height: 50px;
    position: relative;
    >span {
      height: 50px;
      line-height: 50px;
      display: block;
      margin-right: 130px;
      padding-left: 20px;
      color: #c8c8c8;
      font-size: 16px;
      width: 75%;
      @include text_nowrap;
    }
    >span.info {
      display: inline-block;
      margin-right: 0;
      padding-left: 0;
      width: 60px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      bottom: 0;
      right: 50px;
    }
    >input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%;
    }
    div.img {
      height: 50px;
      line-height: 50px;
      width: 70px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.passenger-info {
  width: 100%;
  margin-bottom: 10px;
  .passenger-selected {
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 10px;
    >.line {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      >div {
        flex: 2;
        height: 50px;
        line-height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }
      .center {
        flex: 6;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
      }
      .right {
        flex: 2;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
      }
    }
  }
}

.action-page {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll;
  .action {
    padding-bottom: 50px;
    .action-body {
      margin-top: 60px;
      .pay-ticket-info {
        margin: 0 10px;
        background-color: $white;
        border-radius: 10px;
        position: relative;
        p {
          font-size: 16px;
          color: #c8c8c8;
          height: 40px;
          line-height: 40px;
          margin-left: 20px;
        }
        p:nth-child(1) {
          color: #000;
        }
      }
      .pay {
        height: 50px;
        line-height: 50px;
        @include display_flex('row');
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 20px;
        background-color: $white;
        box-shadow: 3px 0 3px 3px #efeeee;
        .left {
          flex: 5;
          p {
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #c8c8c8;
            span {
              font-size: 18px;
              color: #f35252;
              font-weight: 900;
            }
          }
        }
        .right {
          flex: 5;
          @include display_flex('row');
          span {
            color: #c8c8c8;
            font-size: 12px;
            flex: 5;
          }
          button {
            background-color: #329be8;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            outline: none;
            border: none;
            color: $white;
            flex: 5;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.pay-order {
  width: 100%;
  height: 100%;
  background-color: lighten($gray, 30%);
  position: fixed;
  left: 0;
  bottom: 0;
  .pay-lists {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .info-body {
    height: 160px;
    width: 100%;
    background-color: #2196F3;
    color: $white;
    position: relative;
    .head {
      height: 40px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0px;
      width: 40px;
      text-align: center;
      >i {
        font-size: 20px;
        line-height: 40px;
      }
    }
    .status {
      text-align: center;
      padding-top: 20px;
      >i.fa {
        font-size: 4rem;
        color: #2ecc71;
      }
      >i.fa-times-circle {
        color: $red;
      }
      >p {
        font-size: 1.8rem;
        color: $white;
        margin-top: 10px;
      }
      p.time {
        font-size: 1.4rem;
      }
    }
  }
  .ticket-body {
    margin-bottom: 10px;
    width: 100%;
    .pay-info {
      background-color: $white;
      width: 100%;
      padding: 0 3%;
      .qr-img {
        width: 90%;
        margin: 0 5%;
        text-align: center;
        img {
          width: 50%;
          height: 50%;
          border-radius: 20px;
        }
        p {
          color: $gray;
        }
      }
      .address-info {
        width: 96%;
        margin: 0px 2%;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        .city {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex: 1;
          position: relative;
          justify-content: center;
          text-align: center;
          >span {
            font-size: 1.6rem;
            flex: 1;
            height: 40px;
            line-height: 40px;
          }
          >span.start {
            position: relative;
            &::before {
              position: absolute;
              bottom: 5px;
              right: -10%;
              height: 5px;
              width: 30%;
              background-color: $blue;
              content: "";
            }
            &::after {
              position: absolute;
              bottom: 5px;
              right: -15%;
              height: 0;
              width: 0;
              border: 5px solid $white;
              border-color: transparent transparent $blue $blue;
              content: "";
            }
          }
          i {
            position: absolute;
            top: 5px;
            left: 40%;
          }
        }
      }
      .info-box {
        min-height: 40px;
        border-top: 1px solid lighten($gray, 30%);
        >p {
          font-size: 1.3rem;
          span {
            font-size: 1.3rem;
            color: $gray;
            line-height: 40px;
            min-height: 40px;
          }
          span.type {
            width: 50px;
          }
          span.name {
            color: $black;
          }
        }
      }
    }
  }
  .pay-ticket-info {
    background-color: $white;
    width: 100%;
    .pay-ticket-info-header {
      padding: 0 3%;
      border-bottom: 1px solid lighten($gray, 20%);
      p {
        font-size: 1.4rem;
        height: 40px;
        line-height: 40px;
      }
    }
    .pay-ticket-info-body {
      padding: 0 3%;
      p {
        font-size: 1.2rem;
        color: darken($gray, 10%);
        height: 30px;
        line-height: 30px;
      }
      p.all {
        font-size: 1.4rem;
        text-align: right;
      }
    }
  }
  .now-pay {
    width: 100%;
    padding: 0 2%;
    margin-top: 10px;
    // background-color: $white;
    button {
      outline: none;
      border: 0;
      background-color: $orange;
      font-size: 1.5rem;
      color: $white;
      width: 100%;
      height: 40px;
      border-radius: 10px;
    }
  }
  .out-order {
    width: 100%;
    text-align: center;
    a {
      color: $gray;
    }
  }
}

.passenger-popup-visible {
  width: 80%;
  height: 60%;
  background-color: $white;
  border-radius: 10px;
  .passenger {
    position: relative;
    border-radius: 10px;
    height: 100%;
    overflow-y: scroll;
    .mint-checklist {
      margin-bottom: 50px;
    }
    button {
      width: 100%;
      padding: 10px;
      color: $white;
      background-color: $blue;
      font-size: 1.6rem;
      position: fixed;
      bottom: 0px;
      left: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}

.code-popup-visible {
  text-align: center;
  background: none;
  img {
    width: 200px;
    height: 200px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  // border-top:1px solid $gray;
  background-color: $white;
  box-shadow: 3px 0 3px 3px #efeeee;
  z-index: 100;
  .footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    color: $gray;
    height: 50px;
    line-height: 50px;
    i {
      font-size: 1.8rem;
    }
    img {
      width: 22px;
      height: 22px;
    }
    p {
      font-size: 1.2rem;
      color: $gray;
      height: 20px;
      line-height: 20px;
    }
  }
  .footer.active {
    color: $blue;
    p {
      color: $blue;
    }
  }
}

.mint-msgbox-input {
  input {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}

.mint-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  z-index: 10000;
  .mint-indicator-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 25px !important;
  }
}
