@import "./utils.scss";

header{
	height:50px;
	// background-color:#14d67c;
	background-color:#2196F3;
	color:$white;
	font-size:1.5rem;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:100;
	padding:0;
	margin:0;
	// color:#000;
	.home{
		text-align:center;
		line-height:50px;
		font-size:1.8rem;
		font-weight:900;
	}
	.other{
		text-align:center;
		.left{
			height:50px;
			font-size:1.5rem;
			position:absolute;
			top:0;
			left:0;
			width:50px;
			i{
				font-size:3rem;
				line-height:50px;
			}
		}
		.center{
			line-height:50px;
			font-size:1.8rem;
		}
	}
}
.body{
	width:100%;
	padding-top:49px;
	.header{
		height: 100px;
		background-color: #2196F3;
	}
}
footer{
	display:flex;
	flex-direction:row;
	position:fixed;
	bottom:0;
	left:0;
	height:50px;
	line-height: 50px;
	width:100%;
	overflow-x: hidden;
	justify-content:center;
	align-items:center;
	// border-top:1px solid $gray;
	background-color: $white;
	box-shadow:3px 0 3px 3px #efeeee;
	z-index: 100;
	.footer{
		flex:1;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width:33.3333%;
		color:$gray;
		height: 50px;
		line-height:50px;
		i{
			font-size:1.8rem;
		}
		img{
			width:22px;
			height:22px;
		}
		p{
			font-size:1.2rem;
			color:$gray;
			height:20px;
			line-height:20px;
		}
	}
	.footer.active{
		color:$blue;
		p{
			color:$blue;
		}
	}
}