@import "./utils.scss";
#pay input {
  border: 0;
  outline: none;
}

#pay {
  padding: 0;
  background-color: #fafafa;
  padding-bottom: 50px;
}

.header {
  width: 100%;
  height: 125px;
  position: relative;
  background-color: #41a1e7;
  >img {
    width: 100%;
    height: 125px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header-title {
    height: 50px;
    position: relative;
    >div {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
    }
    img {
      width: 19px;
      height: 19px;
      line-height: 50px;
      position: absolute;
      left: 25px;
      top: 15.5px;
    }
    >span {
      font-size: 18px;
      color: $white;
      font-weight: 900;
      height: 50px;
      line-height: 50px;
      float: right;
      margin-right: 25px;
    }
  }
  .header-router {
    width: 96%;
    padding: 0 2%;
    text-align: center;
    .router {
      height: 60px;
      margin: 0 -10px;
      overflow-x: scroll;
      white-space: nowrap;
      >div {
        display: inline-block;
        position: relative;
        // line-height: 50px;
        height: 50px;
        width: 44px;
        &:after {
          content: "";
          width: 25px;
          height: 1px;
          position: absolute;
          bottom: 8px;
          right: -14px;
          background-color: #fff;
          z-index: 1;
        }
        &:last-child::after {
          content: "";
          width: 25px;
          height: 0px;
          position: absolute;
          bottom: 8px;
          right: -14px;
          background-color: #fff;
          z-index: 1;
        }
      }
      >div.other {
        &:after {
          content: "";
          width: 25px;
          height: 1px;
          position: absolute;
          bottom: 9px;
          right: -14px;
          background-color: #c8c8c8;
        }
      }
      >div:last-child {
        &:after {
          content: "";
          width: 0;
          height: 0;
        }
      }
      >div.last {
        &:after {
          content: "";
          width: 25px;
          height: 1px;
          position: absolute;
          bottom: 10px;
          right: -14px;
          background-color: #c8c8c8;
        }
      }
      span {
        font-size: 12px;
        width: 44px;
        display: inline-block;
        color: $white;
        font-weight: 900;
        margin-top: 16px;
        position: absolute;
        top: 0;
        left: 0;
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: 19px;
          background-color: #fff;
        }
      }
      //最外的圆
      >div.active {
        &::before {
          content: "";
          width: 13px;
          height: 13px;
          border-radius: 50%;
          position: absolute;
          bottom: 2px;
          right: 15px;
          background-color: #6cb9f1;
          z-index: 1;
        }
      }
      span.gray {
        color: rgb(200, 200, 200);
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: 19px;
          background-color: #c8c8c8;
        }
      }
      span.active {
        position: absolute;
        top: 0;
        left: 0;
        color: #329be8;
        height: 20px;
        margin-top: 10px;
        line-height: 20px;
        border: 0.5px solid $white;
        border-radius: 10px;
        background-color: $white;
        //中心圆
        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          bottom: -15px;
          left: 19px;
          background-color: $white;
          z-index: 3;
        }
        // 中间的圆
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
          bottom: -17px;
          left: 17px;
          background-color: #b1d5f0;
          z-index: 2;
        }
      }
    }
  }
}

.mint-toast {
  z-index: 10000;
}

.ticket-info {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;
  border-radius: 6px;
  background-color: $white;
  border: 0.5px solid #c8c8c8;
  .left {
    z-index: 1;
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    >span {
      font-size: 12px;
      font-weight: 900;
      color: rgb(50, 50, 50);
      margin: 2px 0;
      &:first-child {
        font-size: 20px;
        color: rgb(33, 150, 243);
      }
      &:last-child {
        color: rgb(200, 200, 200);
      }
    }
  }
  .center {
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    height: 100%;
    padding: 13px 0;
    position: relative;
    >span {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #fafafa;
      border: 0.5px solid #c8c8c8;
      &:first-child::after {
        width: 18px;
        height: 9px;
        background-color: #fafafa;
        border: 0.5px solid #c8c8c8;
        content: "";
        border-radius: 0 0 10px 10px;
        border-top-color: #fafafa;
        position: absolute;
        top: -0.7px;
        left: -4.5px;
        z-index: 10;
        transform: rotate(0deg);
      }
      &:last-child::after {
        width: 18px;
        height: 9px;
        background-color: #fafafa;
        border: 0.5px solid #c8c8c8;
        border-bottom-color: #fafafa;
        content: "";
        border-radius: 10px 10px 0 0;
        position: absolute;
        bottom: -0.7px;
        left: -4.5px;
        z-index: 10;
        transform: rotate(0deg);
      }
    }
  }
  .right {
    z-index: 1;
    flex: 6;
    display: flex;
    flex-direction: column;
    height: 120px;
    .top {
      flex: 7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .name {
        flex: 6;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        p {
          font-weight: bold;
          font-size: 20px;
          position: relative;
          text-align: left;
          margin-left: 20px;
          &:first-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #8cff3f;
            position: absolute;
            top: 9px;
            left: -17px;
          }
          &:last-child {
            line-height: 40px;
          }
          &:last-child::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #f35252;
            position: absolute;
            top: 15px;
            left: -17px;
          }
        }
      }
      .info {
        flex: 4;
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center;
        p {
          height: 28px;
          line-height: 28px;
          margin-right: 25px;
          &:first-child {
            font-weight: 900;
            font-size: 20px;
            color: rgb(243, 82, 82);
          }
          &:last-child {
            font-size: 12px;
            color: rgb(50, 50, 50);
            padding-top: 8px;
          }
        }
      }
    }
    .bottom {
      flex: 3;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      margin-top: 4px;
      img {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
      }
      p {
        margin-left: 20px;
      }
    }
  }
}

//选择的乘客信息展示
.passenger-info {
  width: 100%;
  margin-bottom: 10px;
  .passenger-selected {
    background-color: $white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 10px;
    >.line {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      >div {
        flex: 2;
        height: 50px;
        line-height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }
      .center {
        flex: 6;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
      }
      .right {
        flex: 2;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
      }
    }
  }
}

.write-info {
  width: 100%;
  margin-bottom: 10px;
  >.line {
    margin: 0 10px;
    background-color: $white;
    border-radius: 10px;
    height: 50px;
    position: relative;
    >span {
      height: 50px;
      line-height: 50px;
      display: block;
      margin-right: 130px;
      padding-left: 20px;
      color: #c8c8c8;
      font-size: 16px;
      width: 75%;
      @include text_nowrap;
    }
    >span.info {
      display: inline-block;
      margin-right: 0;
      padding-left: 0;
      width: 60px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      bottom: 0;
      right: 50px;
    }
    >input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%;
    }
    div.img {
      height: 50px;
      line-height: 50px;
      width: 70px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.page-header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  width: 100%;
  text-align: center;
  background-color: #2196F3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  >div {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 19px;
    height: 19px;
    line-height: 50px;
  }
  span.right {
    font-size: 14px;
    color: $white;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 25px;
    width: 50px;
    font-weight:900;
  }
  span.center {
    font-size: 18px;
    color: $white;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
  }
}

.action-select-car{
  width:100%;
  margin-top: 60px;
  padding:0 10px;
  .line-car{
    float:left;
    height: 60px;
    width:49%;
    line-height: 60px;
    border-radius: 10px;
    background-color: $white;
    margin-top:10px;
    margin-bottom:20px;
    .left{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      >img {
        width: 25px;
        height: 25px;
        margin-left: 5px;
        z-index: 1;
        position: absolute;
        top: 18px;
        left: 5px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 18px;
        left: 5px;
        width: 25px;
        height: 25px;
        background-color: #fafafa;
        border-radius: 50%;
        z-index: 0;
      }
    }
    .center{
      margin-left:30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height:60px;
      p {
        line-height: 25px;
        color: rgb(50, 50, 50);
        font-size: 15px;
        margin-left: 10px;
      }
    }
    &:nth-child(2n){
      margin-left:2%;
    }
  }
}


//选择页
.action-page {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll;
  .action {
    padding-bottom: 50px;
    .action-body {
      margin-top: 60px;
      .add-action {
        width: 100%;
        .line {
          margin: 0 10px;
          background-color: $white;
          border-radius: 10px;
          height: 50px;
          position: relative;
          input {
            height: 50px;
            display: block;
            margin-right: 70px;
            padding-left: 20px;
            font-size: 16px;
            width: 70%;
          }
          button {
            position: absolute;
            top: 0;
            right: 20px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            color: #329be8;
            outline: none;
            border: none;
            background-color: $white;
            i {
              font-size: 16px;
              color: #329be8;
            }
          }
        }
      }
      .pay-ticket-info {
        margin: 0 10px;
        background-color: $white;
        border-radius: 10px;
        position: relative;
        p {
          font-size: 16px;
          color: #c8c8c8;
          height: 40px;
          line-height: 40px;
          margin-left: 20px;
        }
        p:nth-child(1) {
          color: #000;
        }
      }
    }
    p.refresh {
      clear:both;
      height: 20px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      color: #c8c8c8;
      i {
        color: #c8c8c8;
      }
    }
    .action-select {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      .line {
        margin: 0 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        height: 60px;
        line-height: 60px;
        border-radius: 10px;
        background-color: $white;
        .left {
          flex: 2;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          >img {
            width: 25px;
            height: 25px;
            margin-left: 20px;
            z-index: 1;
          }
          &::after {
            content: "";
            position: absolute;
            top: 20px;
            left: 20px;
            width: 25px;
            height: 25px;
            background-color: #fafafa;
            border-radius: 50%;
            z-index: 0;
          }
        }
        .center {
          flex: 6;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          p {
            line-height: 25px;
            color: rgb(50, 50, 50);
            font-size: 15px;
            margin-left: 10px;
          }
        }
        .right {
          flex: 2;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          >img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .action-use {
      margin-top: 50px;
      .popup-header {
        height: 50px;
        width: 100%;
        line-height: 50px;
        background-color: $white;
        color: #c8c8c8;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        span {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
          flex: 1;
          font-weight: 900;
        }
        span.active {
          color: #329be8;
          position: relative;
          &::after {
            position: absolute;
            bottom: 0px;
            left: 45%;
            width: 20px;
            height: 4px;
            background-color: #329be8;
            content: "";
          }
        }
      }
      .rebate {
        height: 200px;
        display: flex;
        margin-top: 10px;
        background-color: #fff;
        @include display_flex("column");
        width:50%;
        padding-bottom: 0;
        float:left;
        .top{
          width:100%;
          height:100px;
          img{
            width:100%;
            height:100px;
          }
        }
        .bottom{
          border:0.5px solid #c8c8c8;
          border-top:none;
          height:100px;
          width:100%;
          @include display_flex("row");
          .left{
            flex:6;
            padding-left: 10px;
            p{
              font-size:23px;
              color:rgb(50,50,50);
              font-weight:900;
              >span{
                font-size:12px;
                margin-right:5px;
              }
            }
            .limit,.name{
              font-size:12px;
              font-weight:900;
              color:rgb(50,50,50);
            }
            .time{
              font-size:12px;
              font-weight:900;
              color:#c8c8c8;
            }
          }
          .right{
            flex:4;
            text-align: center;
            position: relative;
            img{
              width:30px;
              height:30px;
              z-index: -1;
            }
            span{
              width:30px;
              height:30px;
              background-color: #fafafa;
              border-radius: 50%;
              z-index:1;
              position: absolute;
              top:0;
              right:27%;
            }
          }
        }
        &:nth-child(1+2n){
          padding-right:5px;
        }
        &:nth-child(2n){
          padding-left:5px;
        }
        &.active {
          .check {
            img {
              z-index: 2;
            }
          }
          span{
            background-color: #fafafa;
            z-index:-1 !important;
          }
        }
        &.disabled {
          .bottom{
            p{
              color:#c8c8c8 !important;
            }
          }
        }
      }
    }
  }
}

.add-action {
  width: 100%;
  .line.change {
    margin:0;
    background-color: $white;
    border-radius: 10px;
    height: 50px;
    position: relative;
    input {
      height: 50px;
      display: block;
      margin-right: 70px;
      padding-left: 20px;
      font-size: 16px;
      width: 70%;
    }
    button {
      position: absolute;
      top: 0;
      right: 20px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #329be8;
      outline: none;
      border: none;
      background-color: $white;
      i {
        font-size: 16px;
        color: #329be8;
      }
    }
  }
}

/** 支付footer */
.pay {
  height: 50px;
  line-height: 50px;
  @include display_flex('row');
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  background-color: $white;
  box-shadow: 3px 0 3px 3px #efeeee;
  z-index:4000;
  .left {
    flex: 5;
    p {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #c8c8c8;
      span {
        font-size: 18px;
        color: #f35252;
        font-weight: 900;
      }
    }
  }
  .right {
    flex: 5;
    @include display_flex('row');
    span {
      color: #c8c8c8;
      font-size: 12px;
      flex: 5;
    }
    button {
      background-color: #329be8;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      outline: none;
      border: none;
      color: $white;
      flex: 5;
      border-radius: 5px;
    }
  }
}

#pay{
  .v-modal {
    display: none;
  }
}

.set-position {
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 100px;
}

.root-tip-info {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  padding-bottom: 60px;
  .text {
    width: 92%;
    margin: 0 4%;
    border: 1px solid $orange;
    border-radius: 5px;
    padding: 5px 10px;
    >p {
      color: $orange;
      line-height: 20px;
    }
  }
}

.submit-box {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 0 3px 3px #efeeee;
  .order-info {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 5px 0;
    p {
      // color:lighten($gray,20%);
      color: #c8c8c8;
      height: 20px;
      line-height: 20px;
      font-size: 1.1rem;
      >span {
        // margin-left:10px;
        >span {
          margin-left: 5px;
        }
      }
    }
    p:first-child {
      font-size: 1.3rem;
      color: darken($gray, 30%);
      >span {
        margin: 10px;
        color: #f35252;
        font-size: 18px;
        font-weight: 900;
      }
    }
  }
  .submit-order {
    flex: 0.4;
    >button {
      background-color: #329be8;
      color: $white;
      font-size: 1.3rem;
      outline: none;
      border: 0;
      height: 40px;
      margin-top: 5px;
      border-radius: 5px;
      width: 90%;
    }
  }
}

.tip-popup-visible {
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.8);
  >.body {
    text-align: center;
    width: 96%;
    margin: 10px 2%;
    overflow-y: auto;
    height: 100%;
    padding-top: 0;
    @include responsive('iphone5') {
      margin: 0px 2%;
    }
    h3 {
      color: $white;
      font-size: 1.5rem;
      margin-top: 10px;
      @include responsive('iphone5') {
        margin-top: 5px;
        font-size: 1.3rem;
      }
    }
    p {
      color: $white;
      font-size: 1.3rem;
      text-align: left;
      @include responsive('iphone5') {
        font-size: 1.1rem;
      }
    }
    button {
      background-color: $blue;
      color: $white;
      font-size: 1.3rem;
      outline: none;
      border: 0;
      height: 40px;
      margin-top: 10px;
      border-radius: 5px;
      width: 40%;
    }
  }
}

.mint-msgbox-input {
  input {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}

.success {
  color: #2ecc71;
}
