@import "./utils.scss";

body{
	background-color: lighten($gray, 30%);
}

header{
	height:50px;
	// background-color:#14d67c;
	background-color:#2196F3;
	color:$white;
	font-size:1.5rem;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:100;
	padding:0;
	margin:0;
	// color:#000;
	.home{
		text-align:center;
		line-height:50px;
		font-size:1.8rem;
		font-weight:900;
	}
	.other{
		text-align:center;
		.left{
			height:50px;
			font-size:1.5rem;
			position:absolute;
			top:0;
			left:0;
			width:50px;
			i{
				font-size:3rem;
				line-height:50px;
			}
		}
		.center{
			line-height:50px;
			font-size:1.8rem;
		}
	}
}
.body{
	width:100%;
	margin-top:50px;
	.no-data{
		padding-top:20px;
		text-align: center;
		p{
			color:$gray;
			font-size:1.8rem;
		}
	}
	.order{
		width:100%;
		// background-color: lighten($gray, 20%);
		.lists {
			// background-color: $white;
			width:94%;
			margin:0 3%;
			margin-top:60px;
			.list{
				width:100%;
				padding:5px 5px;
				background-color: $white;
				border-radius: 10px;
				margin-bottom:10px;
				.list-header{
					display:flex;
					flex-direction:row;
					justify-content: center;
					border-bottom: 1px solid lighten($gray, 20%);
					padding:5px 0;
					span{
						font-size:1.4rem;
					}
					span.time{
						text-align: left;
						flex:0.7;
					}
					span.type{
						text-align: right;
						flex:0.3;
					}
				}
				.list-center{
					display:flex;
					flex-direction:row;
					justify-content: center;
					padding:5px 0;
					min-height:50px;
					align-items: center;
					.city{
						display:flex;
						flex-direction:row;
						justify-content: center;
						flex:0.7;
						>span{
							font-size:1.6rem;
							flex:1;
						}
					}
					span.money{
						font-size:1.6rem;
						flex:0.3;
						text-align: right;
					}
				}
				.list-footer{
					display:flex;
					flex-direction:row;
					justify-content: center;
					padding:5px 0;
					min-height:30px;
					align-items: center;
					span{
						font-size:1.2rem;
						flex:1;
					}
					span.name{
						text-align: left;
						color:$gray;
					}
					span.order-status{
						text-align: right;
					}
					span.order-pay{
						text-align: right;
					}
				}
			}
		}
	}
}
footer{
	display:flex;
	flex-direction:row;
	position:absolute;
	bottom:0;
	left:0;
	height:50px;
	width:100%;
	justify-content:center;
	align-items:center;
	border-top:1px solid lighten($gray, 20%);
	background-color:$white;
	.footer{
		flex:1;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		color:$gray;
		i{
			flex:1;
			font-size:1.8rem;
		}
		p{
			flex:1;
			font-size:1.4rem;
			color:$gray;
		}
	}
	.footer.active{
		color:$blue;
		p{
			color:$blue;
		}
	}
}