@import "./utils.scss";
.video__detail {
  width: 100%;
  .video__detail--video {
    height: 210px;
  }
  .video__detail--info {
    height: 65px;
    width: 100%;
    padding: 0 10px;
    .detail__title {
      height: 30px;
      line-height: 30px;
      font-size: 17px;
      font-weight: 900;
      @include text_nowrap;
      margin-top: 5px;
    }
  }
  .detail__other-info {
    height: 30px;
    line-height: 30px;
    >span {
      color: #c8c8c8;
      font-size: 12px;
    }
    >span.right {
      float: right;
      >i {
        margin-right: 5px;
      }
    }
  }
  .video__share {
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: #c8c8c8;
    >p {
      height: 40px;
      line-height: 40px;
    }
    >.share__title {
      height: 60px;
      line-height: 60px;
      >p {
        width: 30%;
        float: left;
        text-align: right;
        font-size: 14px;
        color: rgb(50, 50, 50);
        font-weight: 900;
        padding-right: 10px;
      }
      >div.share__icon {
        width: 70%;
        float: left;
        >i {
          height: 60px;
          line-height: 60px;
          font-size: 22px;
          color: rgb(50, 50, 50);
          width: 33.33333%;
          float: left;
        }
      }
    }
  }
}
